{% macro toggletip(class, label, content, body) %}
<div class="{{ class }}" data-toggletip data-toggletip-label="{{ label }}" data-toggletip-content="{{ content }}">
  {{ body | safe }}
</div>
{% endmacro %}