// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// Tablet/desktop overide to address modern iPads 
$govuk-breakpoints: (
  mobile:  320px,
  tablet:  641px,
  desktop: 835px
) !default;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

//
// ITCSS
// https://designnotes.blog.gov.uk/2018/02/19/developing-new-typography-and-spacing-for-gov-uk-frontend/
//

// Settings

// Tools
@import "tools/mixins";

// Generic

// Elements

// Objects
@import "objects/typography";
@import "objects/buttons";

// Components
@import "components/contents";
@import "components/defra-contact";
@import "components/defra-panel";
@import "components/related-items";
@import "components/flood-warnings-list";
@import "components/flood-data-list";
@import "components/flood-levels-table";
@import "components/flood-impact-list";
@import "components/navbar";
@import "components/search";
@import "components/flood-location-link";
@import "components/flood-status";
@import "components/flood-meta";
@import "components/context-footer";
@import "components/flood-tabs";
@import "components/map/ol";
@import "components/map/map";
@import "components/map/map-key";
@import "components/map/map-info";
@import "components/map/map-days";
@import "components/flood-statistics";
@import "components/line-chart";
@import "components/bar-chart";
@import "components/toggle-list-display";
@import "components/tooltip";
@import "components/toggletip";
@import "components/chart-controls";
@import "components/flood-impact-list";
@import "components/social";
@import "components/service-error";
@import "components/webchat";

// Tools

// Utilities