{% if model.targetArea.triggerLevels | length %}
<div class="defra-live">
  <h2 class="defra-live__title">Latest level{% if model.targetArea.triggerLevels > 1 %}s{% endif %}</h2>
  {% for trigger in model.targetArea.triggerLevels %}
  <p class="defra-flood-meta defra-flood-meta--no-border govuk-!-margin-bottom-0"><strong>{{ trigger.elapsedTime }}</strong></p>
  <p>The <a href="/station/{{ trigger.rloiId }}{% if trigger.stage == 'd' %}-downstage{% endif %}">{{ trigger.riverName }} level at {{ trigger.name }}</a> was {{ trigger.latestHeight | toFixed(2) }} metres. Property flooding is possible when it goes above {{ trigger.threshold | toFixed(2) }} metres.</p>
  {% endfor %}
  <p class="defra-live__supplementary">{% if model.targetArea.triggerLevels > 1 %}These levels{% else %}This level{% endif %} will update automatically</p>
</div>
{% endif %}