<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <p style="margin:0;font-weight:bold"><a href="">River Derwent at Buttercrambe, 8:45am today</a></p>
  </div>
  <div class="govuk-summary-card__content" style="padding:20px">
    <div class="defra-flood-statistics">
      <dl class="defra-flood-statistics__list" aria-label="Latest readings">
        <div class="defra-flood-statistics__item">
          <dt class="defra-flood-statistics__key">Height</dt>
          <dd class="defra-flood-statistics__value">1.48m</dd>
        </div>
        <div class="defra-flood-statistics__item">
          <dt class="defra-flood-statistics__key">Trend</dt>
          <dd class="defra-flood-statistics__value">Steady</dd>
        </div>
        <div class="defra-flood-statistics__item">
          <dt class="defra-flood-statistics__key">State</dt>
          <dd class="defra-flood-statistics__value">High</dd>
        </div>
      </dl>
      <p class="govuk-caption-s govuk-!-margin-top-3 govuk-!-margin-bottom-0">
        Normal range 0.28m to 1.20m
      </p>
    </div>
  </div>
</div>