{% if model.queryType == 'river' and item.groupStart == loop.index %}
<!-- River -->
<tr class="defra-flood-table__row">
  <th class="defra-flood-table__cell defra-flood-table__cell--river" colspan="4" scope="colgroup">
    {% if item.riverSlug %}
    <a href="/river-sea-groundwater-rainfall-levels?river={{ item.riverDisplay }}">{{ item.riverName }}</a>
    {% else %}
    {{ item.riverWiskiName }}
    {% endif %}
  </th>
</tr>
{% endif %}

<tr class="defra-flood-table__row{% if model.queryType == 'river' %} defra-flood-table__row--subgroup{% endif %}">
  <!-- Location -->
  <td class="defra-flood-table__cell defra-flood-table__cell--location">
    {% if item.type == 'rainfall' %}
    <a href="">{{ item.name }}</a>
    {% else %}
    <a href="/station/{{ item.id }}{% if item.position == 'd' %}/downstream{% endif %}">
      {{ item.name }}
      {{ station.external_name }}
      {% if item.iswales %}
      (Natural Resources Wales)
      {% endif %}
      {% if item.isDownstream == true %}
      (downstream)
      {% endif %}
      {% if item.type == 'groundwater' %}
      borehole
      {% endif %}
      {% if item.riverSlug != '' and item.type == 'tide' %}
      tide
      {% endif %}
    </a>
    {% endif %}
    {% if item.state != 'error' %}
    <span class="defra-flood-table__item-date">{{ item.elapsedTime }}</span>
    {% endif %}
  </td>

  <!-- Rainfall -->
  {% if item.type == 'rainfall' %}
  <td class="defra-flood-table__cell defra-flood-table__cell--rainfall">
    {{ item.value1hr }}mm
  </td>
  <td class="defra-flood-table__cell defra-flood-table__cell--rainfall">
    {{ item.value6hr }}mm
  </td>
  <td class="defra-flood-table__cell defra-flood-table__cell--rainfall">
    {{ item.value24hr }}mm
  </td>

  <!-- Sea or tide -->
  {% elif item.type == 'tide' %}
  <td class="defra-flood-table__cell defra-flood-table__cell--height{% if item.state == 'error' %} defra-flood-table__cell--error{% endif %}">
    {% if item.state == 'error' %}
    n/a
    {% else %}
    {% if item.value %}{{ item.value }}m{% endif %}
    {% endif %}
  </td>
  {% if item.riverSlug != '' %}
  <td class="defra-flood-table__cell defra-flood-table__cell--error">
    n/a
  </td>
  <td class="defra-flood-table__cell defra-flood-table__cell--error">
    n/a
  </td>
  {% endif %}

  <!-- River or groundwater -->
  {% else %}
  <td class="defra-flood-table__cell defra-flood-table__cell--height{% if item.state == 'error' %} defra-flood-table__cell--error{% endif %}">
    {% if item.state == 'error' %}
    n/a
    {% else %}
    {% if item.isDownstream %}{{ item.valueDownstream }}{% else %}{{ item.value }}{% endif %}m
    {% endif %}
  </td>
  <td class="defra-flood-table__cell defra-flood-table__cell--state{% if item.state == 'error' %} defra-flood-table__cell--error{% elif item.state == 'high' %} defra-flood-table__cell--high{% endif %}">
    {% if item.state == 'error' %}
    n/a
    {% elif item.isDownstream %}
    &nbsp;
    {% else %}
    <span class="defra-tooltip">
      <svg class="defra-tooltip__tool" aria-describedby="tooltip-state-{{ item.id | lower }}" tabindex="0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill-rule="evenodd" stroke-linecap="round" stroke-miterlimit="1.5">
        {% if item.state == 'high' and item.type == 'groundwater' %}
        <path d="M2.501 12.583c1.551-.637 1.967-2.166 4.375-2.166 3.043 0 2.851 2.439 5.893 2.439 2.986 0 2.85-2.439 5.892-2.439s2.85 2.439 5.892 2.439c1.377 0 2.068-.5 2.946-1.22" fill="none" stroke="currentColor" stroke-width="2.5"/><path d="M14.167 7.084v17.499h1.666V7.084h8.333V5.417H5.834v1.667h8.333z" fill="currentColor"/>
        {% elif item.state == 'high' and item.type == 'river' %}
        <path d="M10 3.023h10v5.599H10z" fill="currentColor"/><g fill="none"><path d="M10.833 9.912v15.563h8.334V9.837" stroke="currentColor" stroke-width="1.67"/><g stroke-linecap="round"><use xlink:href="#A" stroke="#fff" stroke-width="5.83"/><use xlink:href="#A" stroke-width="2.5" stroke="currentColor"/></g><path d="M19.167 15.476h-3.334m3.334 4.999h-3.334" stroke="currentColor" stroke-width="1.67"/></g><defs ><path id="A" d="M6.162 9.74a3.84 3.84 0 0 0 2.946 1.219c2.986 0 2.85-2.439 5.892-2.439s2.85 2.439 5.892 2.439c1.377 0 2.068-.5 2.946-1.219"/></defs>
        {% elif item.state == 'low' and item.type == 'groundwater' %}
        <path d="M2.501 18.416c1.551-.637 1.967-2.166 4.375-2.166 3.043 0 2.851 2.439 5.893 2.439 2.986 0 2.85-2.439 5.892-2.439s2.85 2.439 5.892 2.439c1.377 0 2.068-.5 2.946-1.22" fill="none" stroke="currentColor" stroke-width="2.5"/><path d="M14.167 7.084v17.499h1.666V7.084h8.333V5.417H5.834v1.667h8.333z" fill="currentColor"/>
        {% elif item.state == 'low' and item.type == 'river' %}
        <g fill="none"><path d="M10.833 24.353V3.85h8.334v20.578m0-10.579h-3.334m3.334-4.999h-3.334m3.334 9.998h-3.334" stroke="currentColor" stroke-width="1.67"/></g><defs ><path id="B" d="M6.162 23.502c.759.813 1.834 1.259 2.946 1.219 2.986 0 2.85-2.439 5.892-2.439s2.85 2.439 5.892 2.439c1.377 0 2.068-.5 2.946-1.219"/></defs>
        {% elif item.type == 'groundwater' %}
        <path d="M2.501 18.416c1.551-.637 1.967-2.166 4.375-2.166 3.043 0 2.851 2.439 5.893 2.439 2.986 0 2.85-2.439 5.892-2.439s2.85 2.439 5.892 2.439c1.377 0 2.068-.5 2.946-1.22" fill="none" stroke="currentColor" stroke-width="2.5"/><path d="M14.167 7.084v17.499h1.666V7.084h8.333V5.417H5.834v1.667h8.333z" fill="currentColor"/>
        {% else %}
        <g fill="none"><path d="M10.833 24.353V3.85h8.334v20.578m0-10.579h-3.334m3.334-4.999h-3.334m3.334 9.998h-3.334" stroke="currentColor" stroke-width="1.67"/><g stroke-linecap="round"><use xlink:href="#B" stroke="#fff" stroke-width="5.83"/><use xlink:href="#B" stroke="currentColor" stroke-width="2.5"/></g></g><defs ><path id="B" d="M6.162 23.502c.759.813 1.834 1.259 2.946 1.219 2.986 0 2.85-2.439 5.892-2.439s2.85 2.439 5.892 2.439c1.377 0 2.068-.5 2.946-1.219"/></defs>
        {% endif %}
      </svg>
      <span class="defra-tooltip__tip" role="tooltip" id="tooltip-state-{{ item.id | lower }}">{{ item.state | capitalize }}</span>
    </span>
    {% endif %}
  </td>
  <td class="defra-flood-table__cell defra-flood-table__cell--trend{% if item.state == 'error' %} defra-flood-table__cell--error{% elif item.state == 'high' %} defra-flood-table__cell--high{% endif %}">
    {% if item.state == 'error' %}
    n/a
    {% else %}
    <span class="defra-tooltip">
      <svg class="defra-tooltip__tool" aria-describedby="tooltip-trend-{{ item.id | lower }}" tabindex="0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="30" viewBox="0 0 20 30" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.5">
        {% if item.trend == 'rising' %}
        <path d="M10 7.595v18.631" fill="none" stroke="currentColor" stroke-width="3"/><path d="M10 3.774l5 8H5l5-8z" fill="currentColor"/></svg>
        {% elif item.trend == 'falling' %}
        <path d="M10 22.405V3.774" fill="none" stroke="currentColor" stroke-width="3"/><path d="M10 26.226l5-8H5l5 8z" fill="currentColor"/></svg>
        {% else %}
        <path d="M14.179 15H2" fill="none" stroke="currentColor" stroke-width="3"/><path d="M18 15l-8-5v10l8-5z" fill="currentColor"/>
        {% endif %}
      </svg>
      <span class="defra-tooltip__tip" role="tooltip" id="tooltip-trend-{{ item.id | lower }}">Stable</span>
    </span>
    {% endif %}
  </td>

  {% endif %}
</tr>