{%- set name -%}
{% if model.queryType == 'sea' %}Sea level at {% endif %}
{{ item.name }}{%- if item.iswales -%}(Natural Resources Wales){%- endif -%}
{% if item.isDownstream == true %} (downstream){% endif %}
{% if item.type == 'groundwater' %} borehole{% endif %}
{%- endset -%}

<li class="defra-flood-levels-list__item defra-flood-levels-list__item--{{ model.queryType }}">
  <!-- Location -->
  <div class="defra-flood-levels-list__title">
    {% if item.hasDetail %}
    {% if item.type === 'rainfall' %}
    <a href="/rainfall-station/{{ item.id | urlencode }}">{{ name | safe }} raingauge</a>
    {% else %}
    <a href="/station/{{ item.id | urlencode }}{% if item.isDownstream %}-downstream{% elif item.valueDownstream %}-upstream{% endif %}">
      {% if model.queryType == 'river' %}
      {% if item.riverName %}{{ item.riverName }}{% elif item.riverWiskiName %}{{ item.riverWiskiName }}{% endif %} at
      {% endif %}
      {{ name }}
    </a>
    {% endif %}
    {% if item.state != 'error' %}
    <span class="defra-flood-levels-list__item-meta">Updated {{ item.time }} {{ item.date }}</span>
    {% endif %}
    {% endif %}
  </div>

  <div class="defra-flood-levels-list__detail">
    <!-- Rainfall -->
    {% if item.type == 'rainfall' %}
    <div class="defra-flood-levels-list__data defra-flood-levels-list__data--one-third">
      <span class="defra-flood-levels-list__item-numeric">{{ item.value1hr }}mm</span>
      <span class="defra-flood-levels-list__item-secondary">last hour</span>
    </div>
    <div class="defra-flood-levels-list__data defra-flood-levels-list__data--one-third">
      <span class="defra-flood-levels-list__item-numeric">{{ item.value6hr }}mm</span>
      <span class="defra-flood-levels-list__item-secondary">last 6 hours</span>
    </div>
    <div class="defra-flood-levels-list__data defra-flood-levels-list__data--one-third">
      <span class="defra-flood-levels-list__item-numeric">{{ item.value24hr }}mm</span>
      <span class="defra-flood-levels-list__item-secondary">last 24 hours</span>
    </div>

    <!-- Sea or tide -->
    {% elif item.type == 'tide' %}
    <div class="defra-flood-levels-list__data defra-flood-levels-list__data--one-third">
      {% if item.state == 'error' %}
      <span class="defra-flood-levels-list__item-na">n/a</a>
      {% else %}
      <span class="defra-flood-levels-list__item-height">
        {{ item.value }}m
      </span>
      {% endif %}
    </div>
    {% if model.queryType == 'river' %}
    <div class="defra-flood-levels-list__data defra-flood-levels-list__data--one-third">
      <span class="defra-flood-levels-list__item-na">---</a>
    </div>
    <div class="defra-flood-levels-list__data defra-flood-levels-list__data--one-third">
      <span class="defra-flood-levels-list__item-na">n/a</a>
    </div>
    {% endif %}

    <!-- River or groundwater -->
    {% else %}
    <div class="defra-flood-levels-list__data defra-flood-levels-list__data--one-third">
      {% if item.state == 'error' %}
      <span class="defra-flood-levels-list__item-na">n/a</a>
      {% else %}
      <span class="defra-flood-levels-list__item-height">
        {% if item.isDownstream %}{{ item.valueDownstream }}{% else %}{{ item.value }}{% endif %}m
      </span>
      {% endif %}
    </div>
    <div class="defra-flood-levels-list__data defra-flood-levels-list__data--one-third">
      <span class="defra-flood-levels-list__item-na">---</a>
    </div>
    <div class="defra-flood-levels-list__data defra-flood-levels-list__data--one-third">
      {% if item.state == 'error' %}
      <span class="defra-flood-levels-list__item-na">n/a</a>
      {% elif item.isDownstream %}
      &nbsp;
      {% else %}
        {% if item.state == 'high' %}
        <strong class="govuk-tag govuk-tag--blue">{{ item.state | capitalize }}</strong>
        {% else %}
        <strong class="govuk-tag govuk-tag--grey">{{ item.state | capitalize }}</strong>
        {% endif %}
      {% endif %}
      </div>
    {% endif %}
    </div>
  </li>