{% if model.targetArea.triggerLevels | length %}
<div class="defra-live">
  <h2 class="defra-live__title">Latest levels</h2>
  {% for trigger in model.targetArea.triggerLevels %}
  <p><strong>{{ trigger.elapsedTime }}</strong><br/>The <a href="/station/{{ trigger.rloiId }}{% if trigger.stage == 'd' %}-downstage{% endif %}">{{ trigger.riverName }} level at {{ trigger.name }}</a> was {{ trigger.latestHeight }} metres. Property flooding is possible when it goes above {{ trigger.threshold }} metres.</p>
  {% endfor %}
  <p class="defra-live__supplementary">This content updates automatically, you don't need to refresh</p>
</div>
{% endif %}