<div class="defra-search-filter" id="filter-details">
  <form method="post" autocomplete="off" action="/filter-levels">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend defra-search-filter__legend">
        <h2 class="govuk-fieldset__heading defra-search-filter__heading">Filter by measurement type</h2>
      </legend>
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        {{ model.query | dump }}
        {% for item in model.levels.filters %}
        <div class="govuk-checkboxes__item defra-search-filter__checkbox-item">
          <input class="govuk-checkboxes__input defra-search-filter__input" id="{{ item.type }}" name="filters" type="checkbox" value="{{ item.type }}"{% if item.isSelected %} checked{% endif %}>
          <label class="govuk-checkboxes__label" for="{{ item.type }}">
            {{ item.type | capitalize }} ({{ item.count }})
          </label>
        </div>
        {% endfor %}
      </div>
    </fieldset>
    <input name="numFiltersSelected" value="{{ model.levels.numFilters }}" type="hidden" />
    <input name="type" value="{{ model.queryType }}" type="hidden" />
    <input name="term" value="{{ model.queryTerm }}" type="hidden" />
    <button class="govuk-button govuk-button--secondary defra-search-filter__button-results" type="submit" data-module="govuk-button">
      Filter results
    </button>
  </form>
</div>