<div class="defra-filter" id="filter">
  <form method="post" autocomplete="off">
    <fieldset class="defra-filter__fieldset">
      <legend class="defra-filter__legend govuk-visually-hidden">
        <span>Filter (updates on select)</span>
      </legend>
      <div class="defra-filter__checkboxes" data-module="govuk-checkboxes">
        {{ model.query | dump }}
        {% for item in model.types %}
        <div class="defra-filter__item">
          <input class="defra-filter__input" id="{{ item.type }}" name="type" type="checkbox" value="{{ item.type }}"{% if item.type in model.filterTypes %} checked{% endif %}>
          <label class="defra-filter__label" for="{{ item.type }}">
            {{ item.type | capitalize }} ({{ item.count }})
          </label>
        </div>
        {% endfor %}
      </div>
    </fieldset>
  </form>
</div>