<div class="defra-flood-status govuk-!-margin-bottom-1">
  {% if model.banner.hasSevere or model.banner.hasWarnings or model.banner.hasAlerts %}
    {% if model.banner.severeMainLink %}
    <div class="defra-flood-status-item defra-flood-status-item--severe">
      <div class="defra-flood-status-item__container">
        <span class="defra-flood-status-item__icon">
          {{ model.banner.icon | safe }}
        </span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="{{ model.banner.severeMainLink }}">{{ model.banner.severeMainText }}</a>
          </strong>
          <span class="defra-flood-status-item__text-secondary">{{ model.banner.severeSub }}</span>
        </div>
      </div>
    </div>
    {% endif %}
    {% if model.banner.mainLink%}
    <div class="defra-flood-status-item defra-flood-status-item--{{model.banner.severity}}">
      <div class="defra-flood-status-item__container">
        <span class="defra-flood-status-item__icon">
          {{ model.banner.icon | safe }}
        </span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="{{ model.banner.mainLink }}">{{ model.banner.mainText }}</a>
          </strong>
          <span class="defra-flood-status-item__text-secondary">{{ model.banner.sub }}</span>
        </div>
      </div>
    </div>
    {% endif %}
  {% else %}
  <div class="defra-flood-status-item">
    <div class="defra-flood-status-item__container">
      <div class="defra-flood-status-item__text">
        No flood warnings or alerts in this area{% if model.banner.hasHighLevels %} but some <a href="/river-sea-groundwater-rainfall-levels?place={{ model.place.name | urlencode }}">river and sea levels</a> are high{% endif %}.
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% if model.banner.hasSevere or model.banner.hasWarnings or model.banner.hasAlerts or model.banner.hasRemoved %}
{% if (model.banner.hasSevere or model.banner.hasWarnings) and model.banner.hasAlerts  %}
<p class="govuk-body">
  <a href="{{ model.banner.alertsSummaryLink }}">{{ model.banner.alertsSummaryLinkText }}</a> {{ model.banner.alertsSummaryText }} also in the wider area, where some flooding is possible. 
</p>
{% endif %}
{% if model.banner.hasRemoved  %}
<p class="govuk-body">
  <a href="{{ model.banner.removedLink }}">{{ model.banner.removedLinkText }}</a> {{ model.banner.removedText }}
</p>
{% endif %}
{% endif %}