{% if model.outlook.lowForFive %}
<p class="govuk-body">The flood risk for the next 5 days is very low.</p>
{% else %}

<div class="defra-flood-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#today">
                <span class="defra-flood-tabs__label">Today</span>
            </a>
            {% if model.outlook.dailyRiskAsNum[0] > 2 %}
            <span class="defra-flood-tabs__icon defra-flood-tabs__icon--{{ model.outlook.dailyRisk[0] | lower }}">Warning</span>
            {% endif %}
            <span class="defra-flood-tabs__label-risk">{{ model.outlook.dailyRisk[0] }} risk</span>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#tomorrow">
                <span class="defra-flood-tabs__label">Tomorrow</span>
            </a>
            {% if model.outlook.dailyRiskAsNum[1] > 2 %}
            <span class="defra-flood-tabs__icon defra-flood-tabs__icon--{{ model.outlook.dailyRisk[1] | lower }}">Warning</span>
            {% endif %}
            <span class="defra-flood-tabs__label-risk">{{ model.outlook.dailyRisk[1] }} risk</span>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#outlook">
                <span class="defra-flood-tabs__label">Outlook</span>
            </a>
            {% if model.outlook.dailyRiskOutlookMax > 2 %}
            <span class="defra-flood-tabs__icon defra-flood-tabs__icon--{{ model.outlook.dailyRiskOutlookMaxText | lower }}">Warning</span>
            {% endif %}
            <span class="defra-flood-tabs__label-risk">{{ model.outlook.dailyRiskOutlookMaxText }} risk</span>
        </li>
    </ul>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="today">
        <h3 class="govuk-heading-s">Today</h3>


        {% if model.outlook.tab1 %}

        <p>Today there's a {{ model.outlook.dailyRisk[0] | lower }} risk of flooding.</p>

        {% for messageId, sources in model.outlook.tab1 %}
        {% if messageId !== '1-i2-l2' %}
        {% if loop.first %}<p>{% endif %}
            {% include "partials/outlook-region-messages.html" %}
        {% if loop.last %}</p>{% endif %}
        {% endif %}
        {% endfor %}

        {% else %}

        <p>Today the flood risk is very low.</p>

        {% endif %}
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tomorrow">
        <h3 class="govuk-heading-s">Tomorrow</h3>

        {% if model.outlook.tab2 %}

        <p>On {{ model.outlook.dayName[1] }} the risk of flooding {{ model.outlook.trend[1] }} {{ model.outlook.dailyRisk[1] | lower }}.</p>

        {% for messageId, sources in model.outlook.tab2 %}
        {% if messageId !== '1-i2-l2' %}
        {% if loop.first %}<p>{% endif %}
        {% include "partials/outlook-region-messages.html" %}
        {% if loop.last %}</p>{% endif %}
        {% endif %}
        {% endfor %}

        {% else %}

        <p>The flood risk is very low.</p>

        {% endif %}
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="outlook">
        <h3 class="govuk-heading-s">Outlook</h3>

        {% if model.outlook.tab3 %}

        {% for day in model.outlook.tab3 %}
        {% set dayNum = loop.index + 2 %}

        <p> On {{ model.outlook.dayName[dayNum - 1] }} the risk of flooding {{ model.outlook.trend[dayNum - 1]}} {{ model.outlook.dailyRisk[dayNum - 1] | lower }}.</p>
            
        {% for messageId, sources in day %}
        {% if messageId !== '1-i2-l2' %}
        {% if loop.first %}<p>{% endif %}
        {% include "partials/outlook-region-messages.html" %}
        {% if loop.last %}</p>{% endif %}
        {% endif %}
        {% endfor %}
        {% endfor %}

        {% else %}

        <p>There's a very low risk of flooding.</p>

        {% endif %}
    </div>
</div>
<span id="map-outlook"></span>
{% endif %}
<p class="defra-flood-meta">
    Updated <time datetime="{{ model.outlook.issueUTC }}">{{ model.outlook.formattedIssueDate }}</time>.</br>Produced by the Met Office and Environment Agency
</p>