{# Station has a warnings baner #}
{% if model.banner or model.station.rloiId == '8208' %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-flood-status defra-flood-status--small defra-flood-status--full govuk-!-margin-bottom-3">

      {# Station has nearby warnings #}
      {% if model.banner %}
      <div class="defra-flood-status-item defra-flood-status-item--{{ model.banner.severity }}">
        <div class="defra-flood-status-item__container">
          <span class="defra-flood-status-item__icon">
            {{ model.banner.icon | safe }}
          </span>
          <div class="defra-flood-status-item__text">
              <a class="govuk-link" href="{{ model.banner.link }}">{{ model.banner.text }}</a>
          </div>
        </div>
      </div>
      {% endif %}

      {# Station forecast interpretation #}
      {% if model.station.status == 'active' and model.station.rloiId == '8208' %}
      <div class="defra-flood-status-item defra-flood-status-item--important">
        <div class="defra-flood-status-item__container">
          <span class="defra-flood-status-item__icon">
            <svg aria-hidden="true" focusable="false" viewBox="0 0 40 40" fill-rule="evenodd"><circle cx="20" cy="20" r="19"/><g fill="#fff"><circle cx="20" cy="28.74" r="3.084"/><path d="M22.539 8.175h-5.078l.453 15.499h4.172l.453-15.499z"/></g></svg>
            <!-- <svg width="18" height="18" viewBox="0 0 18 18" style="fill-rule:evenodd;clip-rule:evenodd"><circle cx="9" cy="9" r="7.5" style="fill:none;stroke:#000;stroke-width:1px;"></circle><text x="4.687px" y="12.906px" style="font-family:'Courier-Bold', 'Courier';font-size:14px;">i</text></svg> -->
          </span>
          <div class="defra-flood-status-item__text">
            <span class="govuk-visually-hidden">Warning:</span>
            <p class="govuk-!-margin-bottom-0">This station has a forecast. It comes directly from a computer model and is not always an accurate prediction</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{# Station has an error with the data #}
{% if model.station.status != 'active' or model.station.latestStatus != 'success' %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-service-error govuk-!-margin-bottom-6">

      {# Station is suspended #}
      {% if model.station.status == 'suspended' %}
      <h2 class="defra-service-error__title" id="error-summary-title">
        This measuring station is offline
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        {% if model.station.statusReason %}
          {{ model.station.statusReason}}
        {% else %}
          We are working to get it back online.
        {% endif %} 
        You can <a href="/river-and-sea-levels">check another river, sea, groundwater or rainfall level</a>.
      </p>

      {# Station is closed #}
      {% elif model.station.status == 'closed' %}
      <h2 class="defra-service-error__title" id="error-summary-title">
        This measuring station is closed
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        No data is available. You can <a href="/river-sea-groundwater-rainfall-levels">check another river, sea, groundwater or rainfall level</a>.
      </p>

      {# No recent value #}
      {% elif model.station.latestStatus == 'missing' %}
      <h2 class="defra-service-error__title" id="error-summary-title">There's a problem with the data</h2>
      <p class="govuk-body govuk-!-margin-bottom-0">There's no recent data. Try again later.</p>

      {# Latest mesurement unrelaible #}
      {% elif model.station.latestStatus == 'unreliable' %}
      <h2 class="defra-service-error__title" id="error-summary-title">
        There's a problem with the latest measurement
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        The latest measurement is unreliable. This could be due to a fault with the measuring equipment.
      </p>

      {% endif %}
    </div>
  </div>
</div>
{% endif %}