// Bar graph
.js-enabled .defra-bar-chart__visualisation {
  position:relative;
  display: block !important;
  // border-bottom:1px solid $govuk-border-colour;
  // padding-bottom:15px;
  margin:0;
}
.js-enabled .defra-bar-chart__table {
  @extend .govuk-visually-hidden;
}
.defra-bar-chart__caption {
  display:block;
  @extend .govuk-body;
  margin-bottom:30px;
  @include mq ($from: tablet) {
      margin-bottom:40px;
  }
  margin-right:0px;
  text-align:left;
}
.defra-bar-chart__container {
  position:relative;
  margin:0;
}
.defra-bar-chart svg {
  position:relative;
  overflow:visible;
  height:300px;
  width:100%;
  @include mq ($from: desktop) {
      height:450px;
  }
}
