// Bar graph
.defra-bar-chart {
  border-bottom: 1px solid $govuk-border-colour;
}
.js-enabled .defra-bar-chart__container {
  position: relative;
  margin: 0 -15px;
  padding-right: 15px;
  padding-left: 15px;
}
.defra-bar-chart__container > svg {
  position:relative;
  overflow:visible;
  height:300px;
  width:100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: default;
  @include mq ($from: desktop) {
    height:450px;
  }
  .axis.y { 
    @include govuk-font($size: 14, $tabular: true);
  }
  .axis.x { 
    @include govuk-font($size: 14); 
  }
  .axis.y text,
  .axis.x text {
    color: $govuk-secondary-text-colour;
    fill: currentColor;
  }
  .axis.y .tick line,
  .axis.y path,
  .grid.y path.domain { 
    display: none;
  }
  .axis path,
  .axis line {
    color: $govuk-border-colour;
    fill: none;
    stroke: currentColor;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
  .bar {
    pointer-events: none;
    outline: 0px;
    text {
      font-size: 0;
    }
  }
  .bar__fill {
    color: govuk-colour('blue');
    fill: currentColor;
  }
  .bar--selected .bar__fill {
    color: govuk-colour('dark-blue');
    fill: currentColor;
  }
  .bar--incomplete .bar__fill {
    color: govuk-colour('mid-grey');
    fill: currentColor;
  }
  .grid {
    pointer-events: none;
  }
  .grid line {
    fill: none;
    color: rgba($govuk-text-colour, 0.1);
    stroke: currentColor;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
  .latest-line {
    pointer-events: none;
    stroke-width: 1;
    color: govuk-colour('dark-grey');
    stroke: currentColor;
    stroke-dasharray: 3 3;
    shape-rendering: crispEdges;
  }
  .bar--selected .latest-line {
    color: govuk-colour('black');
    stroke: currentColor;
  }
  // Locator line
  .locator {
    visibility: hidden;
    &--visible {
      visibility: visible;
      pointer-events: none;
    }
    &__background {
      visibility: hidden;
    }
    &__background--visible {
      visibility: visible;
      fill: $govuk-focus-colour;
    }
    &__line {
      visibility: hidden;
      stroke-width: 1;
      color: govuk-colour('mid-grey');
      stroke: currentColor;
      shape-rendering: crispEdges;
    }
    &__line--visible {
      visibility: visible;
    }
  }
  // Tooltip
  .tooltip {
    visibility: hidden;
  }
  .tooltip--visible {
      visibility: visible;
  }
  .tooltip-bg {
      fill:white;
      stroke-width: 1;
      color: $govuk-secondary-text-colour;
      stroke: currentColor;
      shape-rendering: geometricPrecision;
      @media screen and (-ms-high-contrast: active), screen and (forced-colors: active) {
        fill: window;
    }
  }
  .tooltip-text {
      @include govuk-font($size: 16);
      color: $govuk-text-colour;
      fill: currentColor;
  }
  .tooltip-text__strong {
      @include govuk-font($size: 19, $weight:bold);
  }
}