// Bar graph
.js-enabled .defra-bar-chart__visualisation {
  position:relative;
  display: block !important;
  margin: 0;
}
.js-enabled .defra-bar-chart__table {
  @extend .govuk-visually-hidden;
}
.defra-bar-chart__caption {
  display:block;
  @extend .govuk-body;
  margin-bottom:30px;
  @include mq ($from: tablet) {
    margin-bottom:40px;
  }
  margin-right:0px;
  text-align:left;
}
.defra-bar-chart__container {
  position:relative;
  margin:0;
  outline: 0px;
  &:focus .background {
    stroke: $govuk-focus-colour;
    stroke-width: 3;
    shape-rendering: crispEdges;
  }
  &:focus .border {
    stroke: govuk-colour('black');
    stroke-width: 3;
    shape-rendering: crispEdges;
  }
}
.defra-bar-chart svg {
  position:relative;
  overflow:visible;
  height:300px;
  width:100%;
  @include mq ($from: desktop) {
    height:450px;
  }
  .background, .border {
    fill: transparent;
  }
  .axis.y { 
    @include govuk-font($size: 14, $tabular: true);
  }
  .axis.x { 
    @include govuk-font($size: 14); 
  }
  .axis.y text,
  .axis.x text {
    fill: $govuk-secondary-text-colour;
  }
  .axis.y .tick line,
  .axis.y path,
  .grid.y path.domain { 
    display: none;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: $govuk-border-colour;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
  .bar {
    pointer-events: none;
  }
  .bar__fill {
    fill: govuk-colour('blue');
  }
  .bar--selected .bar__fill {
    fill: govuk-colour('dark-blue');
  }
  .bar--incomplete .bar__fill {
    fill: govuk-colour('mid-grey');
  }
  .grid {
    pointer-events: none;
  }
  .grid line {
    fill: none;
    stroke: #E6E6E6;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
  .latest-line {
    pointer-events: none;
    stroke-width: 1;
    stroke: govuk-colour('dark-grey');
    stroke-dasharray: 3 3;
    shape-rendering: crispEdges;
  }
  .bar--selected .latest-line {
    stroke: govuk-colour('black');
  }
  // Locator line
  .locator {
    visibility: hidden;
  }
  .locator.locator--visible {
    visibility: visible;
    pointer-events: none;
    stroke-width: 1;
    stroke: govuk-colour('mid-grey');
    shape-rendering: crispEdges;
  }
  // Tooltip
  .tool-tip {
    visibility: hidden;
  }
  .tool-tip--visible {
      visibility: visible;
  }
  .tool-tip-bg {
      fill:white;
      stroke-width: 1;
      stroke: $govuk-secondary-text-colour;
      shape-rendering: geometricPrecision;
  }
  .tool-tip-text {
      @include govuk-font($size: 16);
  }
  .tool-tip-text__strong {
      @include govuk-font($size: 19, $weight:bold);
  }
  .tool-tip-text__small {
    @include govuk-font($size: 14);
  }
}
