.defra-chart-controls {
  position: relative;
  overflow: auto;
  z-index: 1;
}
.defra-chart-controls__period {
  margin: auto;
  display: inline-block;
  padding-bottom: 20px;
}
.defra-chart-controls__pagination {
  display: block;
  padding-bottom: 20px;
  @include mq ($from: tablet) {
    float: right;
  }
    // border: 0px;
    // background-color: white;
    // margin: 0px 0px 15px;
    // padding: 0px;
    // width: auto;
    // outline: 3px solid transparent;
    // color: $govuk-link-colour;
    // cursor: pointer;
    // touch-action: manipulation;
    // @include govuk-font($size: 16);
    // .defra-chart-pagination__text {
    //   pointer-events: none;
    // }
    // &[aria-disabled="true"],
    // &[aria-disabled="true"]:after,
    // &[aria-disabled="true"]:before {
    //   color: govuk-colour('mid-grey');
    // }

    // @include mq ($from: tablet) {
    //   margin-top: 5px;
    // }

  // &__button[aria-disabled="true"] {
  //   cursor: not-allowed;
  // }
  // &__button:hover:not([aria-disabled="true"]) {
  //   color: $govuk-link-hover-colour;
  //   &:after, &:before {
  //     color: $govuk-link-hover-colour;
  //   }
  // }
  // &__button--forward:after,
  // &__button--back:before {
  //   display: inline-block;
  //   content: '';
  //   border-width: 0 2px 2px 0;
  //   width: 8px;
  //   height: 8px;
  //   border-style: solid;
  //   color: $govuk-link-colour;
  //   margin-right: 2px;
  //   margin-left: 2px;
  // }
  // &__button--forward:after {
  //   -webkit-transform: rotate(-45deg);
  //   -ms-transform: rotate(-45deg);
  //   transform: rotate(-45deg);
  // }
  // &__button--back:before {
  //   -webkit-transform: rotate(135deg);
  //   -ms-transform: rotate(135deg);
  //   transform: rotate(135deg);
  // }
  // &__button:focus:not([aria-disabled="true"]) {
  //   color: $govuk-focus-text-colour;
  //   background-color: $govuk-focus-colour;
  //   box-shadow: 0 -2px $govuk-focus-colour, 0 4px govuk-colour('black');
  //   &:after, &:before {
  //     color: $govuk-focus-text-colour;
  //   }
  // }
  // &__button:focus[aria-disabled="true"] {
  //   box-shadow: 0px 0px 0px 2px govuk-colour('black'), 0px 0px 0px 5px $govuk-focus-colour;
  // }
}
.defra-chart-controls-button {
  @extend .defra-button-text-s;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 15px;
  text-decoration: none;
  &--selected:not(:focus) {
    border-bottom: 4px solid govuk-colour('blue');
    margin-bottom: -4px;
  }
  &--selected:hover {
    border-bottom-color: $govuk-link-hover-colour;
  }
  &__icon {
    display: inline-block;
  }
  svg {
    position: relative;
    top: 2px;
    @include mq ($from: tablet) {
      top: 1px;
    }
    margin-left: 5px;
  }
  &--back svg {
    margin-right: 5px;
    margin-left: 0px;
  }
  &--forward {
    margin-right: 0px;
  }
  &[aria-disabled="true"] {
    cursor: not-allowed;
  }
  &[aria-disabled="true"]:not(:focus) {
    color: govuk-colour('mid-grey');
    svg {
      fill: govuk-colour('mid-grey');
    }
  }
}