.defra-details {
  @extend .govuk-details;
  &__summary {
    @extend .govuk-details__summary;
    padding-left: 0;
  }
  &__summary:before {
    content: none;
  }
  &__summary-text {
    @extend .govuk-details__summary-text;
    margin-left: 2px;
  }
  &__text {
    @extend .govuk-details__text;
    padding-left: 0;
    border: 0;
  }
  &__chevron {
    content: '';
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    top: -1px;
    width: 1.25rem;
    height: 1.25rem;
    border-color: currentColor;
    border: .0625rem solid;
    border-radius: 50%;
    vertical-align: middle;
  }
  &__chevron:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    bottom: .3125rem;
    left: .375rem;
    width: .375rem;
    height: .375rem;
    transform: rotate(-45deg);
    border-color: currentColor;
    border-top: .125rem solid;
    border-right: .125rem solid;
    transform: rotate(-45deg);
  }
  // &__label {
  //   margin-left: 3px;
  //   vertical-align: middle;
  //   text-decoration: underline;
  // }
}
.defra-details[open] .defra-details__chevron {
  transform: rotate(180deg);
}