.defra-filter {
  // background-color: govuk-colour('light-grey');
  border-top: 1px solid govuk-colour('black');
  padding-top: 10px;
  padding-bottom: 8px;
  // padding-left: 10px;
  &__fieldset {
    @extend .govuk-fieldset;
  }
  &__legend {
    @extend .govuk-fieldset__legend;
    @include govuk-font($size: 16, $weight: bold);
    margin-right: 15px;
    padding-top: 10px;
    float: left;
  }
  &__checkboxes {
    @extend .govuk-checkboxes !optional;
    @extend .govuk-checkboxes--small;
    float: left;
    // @include mq ($from: tablet) {
    //   float: left;
    // }
  }
  &__item {
    @extend .govuk-checkboxes__item;
    display: inline-block;
    float: none !important;
    // clear: none;
    // margin-right: 10px;
    // margin-bottom: 10px !important;
    // padding-left: 0px !important;
    // &:hover .defra-filter__label:before {
    //   box-shadow: none !important;
    // }
  }
  &__input {
    @extend .govuk-checkboxes__input;
    // left: 0px !important;
    // top: 0px !important;
    // height: 100% !important;
    // width: 100% !important;
    // &:focus {
    //   + .defra-filter__label {
    //     content: '';
    //     display: block;
    //     border: 4px solid govuk-colour('black');
    //     line-height: 34px !important;
    //     padding-left: 41px !important;
    //     padding-right: 7px !important;
    //     box-shadow: 0 0 0 3px #ffdd00;
    //   }
    //   + .defra-filter__label:before {
    //     border-width: 2px !important;
    //     box-shadow: none !important;
    //   }
    // }
    // &:checked + .defra-filter__label {
    //   background-color: govuk-colour('light-grey');
    // }
  }
  &__label {
    @extend .govuk-label;
    @extend .govuk-checkboxes__label;
    @include govuk-font($size: 16);
    padding: 12px 15px 7px 1px;
    // padding: 0px 10px 0px 44px !important;
    // margin-top: 0px !important;
    // line-height: 40px !important;
    // border: 1px solid govuk-colour('black');
    // &:before {
    //   top: 9px !important;
    //   left: 9px !important;
    // }
    // &:after {
    //   top: 16px !important;
    //   left: 16px !important;
    // }
  }
}