.defra-flood-levels-list {
  @extend .govuk-list;
  > li {
    margin-bottom: 0px;
  }
  &__item {
    border-top: 1px solid govuk-colour('mid-grey');
    padding-top: 10px;
    padding-bottom: 10px;
    @include mq ($from: tablet) {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }
  &__item:first-child {
    border: 0px;
  }
  &__title {
    @include govuk-font($size: 19, $weight: bold);
    padding-bottom: 10px;
    box-sizing: border-box;
    @include mq ($from: tablet) {
      width: 50%;
      padding-bottom: 0px;
      padding-right: 1.5em;
    }
  }
  &__item--rainfall &__title {
    @include mq ($from: tablet) {
      width: 40%;
    }
  }
  &__detail {
    @include mq ($from: tablet) {
      width: 50%;
    }
  }
  &__item--rainfall &__detail {
    @include mq ($from: tablet) {
      width: 60%;
    }
  }
  &__detail:after {
    content: '';
    display: block;
    clear: both;
  }
  &__data {
    float: left;
    min-width: 4.5em;
  }
  &__data--rainfall {
    width: 33.33%;
  }
  &__data--height {
    width: 34%;
  }
  &__data--trend {
    width: 36%;
  }
  &__data--state {
    width: 30%;
  }
  &-item-meta {
    display: block;
    @include govuk-font($size: 14);
    color: $govuk-secondary-text-colour;
    a {
      @include govuk-font($size: 16);
      display: inline-block;
      margin-top: 5px;
    }
  }
  &-item-na {
    @include govuk-font($size: 16);
  }
  &-item-trend {
    padding: 4px;
    display: inline-block;
    color: $govuk-text-colour;
    position: relative;
    text-transform: uppercase;
    @include govuk-font($size: 14, $weight: normal);
    padding-left: 20px;
    top: -1px;
    @include mq ($from: tablet) {
      padding-top: 5px;
      top: 0px;
    }
    svg {
      position: absolute;
      left: 0px;
      top: 2px;
      @include mq ($from: tablet) {
        top: 5px;
      }
      color: #383f43;
    }
  }
  &-item-height {
    @include govuk-font($size: 24, $tabular: true);
    display: inline-block;
    position: relative;
    margin-top: 1px;
    @include mq ($from: tablet) {
      @include govuk-font($size: 19, $tabular: true);
    }
  }
  &-item-state {
    @extend .govuk-tag;
    position: relative;
    @include govuk-font($size: 14, $weight: bold);
    padding-top: 4px;
    padding-bottom: 4px;
    top: -1px;
    @include mq ($from: tablet) {
      top: 0px;
    }
    &--grey {
      @extend .govuk-tag--grey;
    }
    &--blue {
      @extend .govuk-tag--blue;
    }
  }
  &-item-numeric {
    @include govuk-font($size: 19, $tabular: true);
  }
  &-item-secondary {
    @include govuk-font($size: 14, $tabular: true);
    color: $govuk-secondary-text-colour;
  }
  &__item--rainfall &__detail &-item-secondary {
    display: block;
  }
  &__item--rainfall &__detail &__data {
    @include mq ($from: tablet) {
      text-align: left;
    }
  }
  a:not(:hover) {
    text-decoration: none;
  }
}