.defra-flood-levels-list {
  @extend .govuk-list;
  > li {
    margin-bottom: 0px;
  }
  &__item {
    border-top: 1px solid govuk-colour('mid-grey');
    padding-top: 10px;
    padding-bottom: 12px;
    @include mq ($from: tablet) {
      display: flex;
      align-items: center;
      flex-direction: row;
      padding-bottom: 10px;
    }
  }
  &__item:first-child {
    border: 0px;
  }
  &__title {
    @include govuk-font($size: 19, $weight: bold);
    padding-bottom: 10px;
    box-sizing: border-box;
    @include mq ($from: tablet) {
      width: 50%;
      padding-bottom: 0px;
      padding-right: 7%;
    }
  }
  &__item--rainfall &__title {
    @include mq ($from: tablet) {
      width: 40%;
    }
  }
  &__detail {
    @include mq ($from: tablet) {
      width: 50%;
    }
  }
  &__item--rainfall &__detail {
    @include mq ($from: tablet) {
      width: 60%;
    }
  }
  &__detail:after {
    content: '';
    display: block;
    clear: both;
  }
  &__data {
    float: left;
    min-width: 4.5em;
  }
  &__data--rainfall {
    width: 33.33%;
  }
  &__data--trend {
    width: 39%;
  }
  &__data--height {
    width: 31%;
  }
  &__data--state {
    width: 30%;
  }
  &-item-meta {
    display: block;
    @include govuk-font($size: 14);
    color: $govuk-secondary-text-colour;
    a {
      @include govuk-font($size: 16);
      display: inline-block;
      margin-top: 5px;
    }
  }
  &-item-na {
    @include govuk-font($size: 16);
  }
  &-item-trend {
    padding: 4px;
    display: inline-block;
    // color: $govuk-secondary-text-colour;
    position: relative;
    text-transform: uppercase;
    @include govuk-font($size: 16, $weight: normal);
    padding-left: 30px;
    @include mq ($from: tablet) {
      padding-left: 36px;
    }
    &__icon {
      position: absolute;
      border-radius: 100%;
      border: 1px solid govuk-colour('mid-grey');
      width: 24px;
      height: 24px;
      left: 0px;
      top: -1px;
      @include mq ($from: tablet) {
        width: 28px;
        height: 28px;
      }
    }
    svg {
      position: absolute;
      left: 4px;
      top: 4px;
      color: #383f43;
      @include mq ($from: tablet) {
        left:6px;
        top: 6px;
      }
    }
  }
  &-item-height {
    @include govuk-font($size: 16, $tabular: true, $weight: normal);
    // color: $govuk-secondary-text-colour;
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
  }
  &-item-state {
    position: relative;
    @include govuk-font($size: 16, $weight: normal);
    text-transform: uppercase;
    // color: $govuk-secondary-text-colour;
    background-color: govuk-colour('light-grey');
    display: inline-block;
    padding: 4px 8px;
    &--blue {
      color: govuk-colour('dark-blue');
      background-color: govuk-colour('light-blue');
    }
  }
  &-item-numeric {
    @include govuk-font($size: 16, $tabular: true);
  }
  &-item-secondary {
    @include govuk-font($size: 14, $tabular: true);
    color: $govuk-secondary-text-colour;
  }
  &__item--rainfall &__detail &-item-secondary {
    display: block;
  }
  &__item--rainfall &__detail &__data {
    @include mq ($from: tablet) {
      text-align: left;
    }
  }
  a:not(:hover) {
    text-decoration: none;
  }
}