.defra-flood-statistics {
    border-top: 1px solid $govuk-border-colour;
    border-bottom: 1px solid $govuk-border-colour;
    &__list {
        margin:0;
        @include mq ($from: tablet) {
            margin-left:-15px;
            margin-right:-15px;
        }
    }
    &__list:after {
        content:'';
        display:block;
        clear:both;
    }
    &__column-one-quarter,
    &__column-one-third {
        @include mq ($from: tablet) {
            width:25%;
            box-sizing: border-box;
            padding-left: 15px;
            padding-right: 15px;
            float:left;
        }
    }
    &__column-one-third {
        @include mq ($from: tablet) {
            width:33.33%;
        }
    }
    &__key {
        @include govuk-font($size: 19, $weight: bold);
        padding-top: 20px;
        margin-bottom: 5px;
    }
    &__value {
        @include govuk-font($size: 36, $weight: bold);
        color: govuk-colour('blue');
        margin:0;
        display: block;
        box-sizing: border-box;
        padding-bottom: 20px;
    }
    &__value::first-letter {
        margin-left: -0.075em;
    }       
    &__data-tip:focus {
        border-bottom: 0px;
        margin-bottom: 0px;
    }
    &__value-detail {
        @include govuk-font($size: 16);
        color: $govuk-text-colour;
        margin-top: 5px;
        display: block;
    }
}
