.defra-flood-table {
  @extend .govuk-table;
  @include mq ($until: tablet) {
    display: block;
  }
  thead, tbody, tr, th, td {
    @include mq ($until: tablet) {
      display: block;
    }
  }
  td, th {
    vertical-align: top;
    @include mq ($until: tablet) {
      box-sizing: border-box;
    }
  }
  &__head {

  }
  &__row {
    
  }
  &__header {
    @extend .govuk-table__header;
  }
  &__cell {
    @extend .govuk-table__cell;
  }
  &__cell--item-name {
    @include govuk-font($size: 19, $weight: bold);
  }
  &__item-date {
    display: block;
    @include govuk-font($size: 14);
  }
}