.defra-flood-levels-list {
  @extend .govuk-list;
  margin-bottom: 30px;
  &__item {
    border-top: 1px solid govuk-colour('mid-grey');
    padding: 10px 0px 12.5px 0px;
    margin-bottom: 0px !important;
    @include mq ($from: tablet) {
      padding-bottom: 10px;
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }
  &__item:first-child {
    border: 0px;
  }
  &__item:last-child {
    padding-bottom: 0px;
  }
  &__title {
    @include govuk-font($size: 19, $weight: bold);
    padding-bottom: 10px;
    box-sizing: border-box;
    @include mq ($from: tablet) {
      width: 50%;
      padding-bottom: 0px;
      padding-right: 7%;
    }
    @include mq ($from: desktop) {
      width: 55%;
    }
  }
  &__item--rainfall &__title {
    @include mq ($from: tablet) {
      width: 40%;
    }
  }
  &__detail {
    @include mq ($from: tablet) {
      width: 50%;
    }
    @include mq ($from: desktop) {
      width: 45%;
    }
  }
  &__item--rainfall &__detail {
    @include mq ($from: tablet) {
      width: 60%;
    }
  }
  &__detail:after {
    content: '';
    display: block;
    clear: both;
  }
  &__data {
    float: left;
    min-width: 4.5em;
    box-sizing: border-box;
  }
  &__data--rainfall {
    width: 33.33%;
  }
  &__data--height {
    width: 50%;
    @include mq ($from: tablet) {
      padding-left: 15%;
    }
  }
  &__data--state {
    width: 50%;
    text-align: right;
  }
  &-item-meta {
    display: block;
    @include govuk-font($size: 16);
    color: $govuk-secondary-text-colour;
    a {
      // @include govuk-font($size: 16);
      display: inline-block;
      margin-top: 5px;
    }
  }
  &-item-na {
    @include govuk-font($size: 16);
  }
  &-item-height {
    @include govuk-font($size: 19, $tabular: true, $weight: normal);
    // color: $govuk-secondary-text-colour;
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
  }
  &-item-state {
    position: relative;
    @include govuk-font($size: 19, $weight: normal);
    text-transform: uppercase;
    // color: $govuk-secondary-text-colour;
    background-color: govuk-colour('light-grey');
    display: inline-block;
    padding: 4px 8px;
    &--blue {
      color: govuk-colour('dark-blue');
      background-color: govuk-colour('light-blue');
    }
  }
  &-item-numeric {
    @include govuk-font($size: 19, $tabular: true);
  }
  &-item-secondary {
    @include govuk-font($size: 16, $tabular: true);
    color: $govuk-secondary-text-colour;
  }
  &__item--rainfall &__detail &-item-secondary {
    display: block;
  }
  &__item--rainfall &__detail &__data {
    @include mq ($from: tablet) {
      text-align: left;
    }
  }
  a:not(:hover) {
    text-decoration: none;
  }
}