.defra-flood-statistics {
    border-top: 1px solid $govuk-border-colour;
    border-bottom: 1px solid $govuk-border-colour;
    &__list {
        margin:0;
    }
    &__list:after {
        content:'';
        display:block;
        clear:both;
    }
    &__item {
        width:33.33%;
        box-sizing: border-box;
        padding-right: 10px;
        float:left;
        @include mq ($from: desktop) {
            width: 20%;
        }
    }
    &__key {
        @include govuk-font($size: 16);
        padding-top: 20px;
        margin-bottom: 5px;
    }
    &__value {
        @include govuk-font($size: 27, $weight: bold);
        margin:0;
        display: block;
        box-sizing: border-box;
        padding-bottom: 20px;
    }
    &__value::first-letter {
        margin-left: -0.075em;
    }       
    &__data-tip:focus {
        border-bottom: 0px;
        margin-bottom: 0px;
    }
    &__meta {
        @include govuk-font($size: 16);
        color: $govuk-secondary-text-colour;
        margin-top: 5px;
        display: block;
    }
}
