.defra-flood-meta {
    @include govuk-font($size: 16);
    color:$govuk-text-colour;
    position:relative;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid $govuk-border-colour;
}
