.defra-flood-table {
  @extend .govuk-table;
  &__header {
    @extend .govuk-table__header;
    @include govuk-font($size: 16, $weight: bold);
    padding-right: 10px;
    text-align: center;
  }
  &__header--rainfall {
    text-align: right;
    span {
      @include mq ($until: tablet) {
        @include defra-visually-hidden();
      }
    }
  }
  &__header--location-rainfall {
    text-align: left;
  }
  &__header--location {
    text-align: left;
    width: 50%;
    @include mq ($from: tablet) {
      width: 40%;
    }
  }
  &__row--subgroup td {
    border-top: 1px solid govuk-colour('light-grey');
    border-bottom: 0px;
  }
  &__cell {
    @extend .govuk-table__cell;
    padding-right: 10px;
    vertical-align: middle;
    text-align:center;
  }
  &__cell--river {
    @include govuk-font($size: 16);
    border-top: 1px solid $govuk-border-colour;
    border-bottom: 0px;
    text-align:left;
    a {
      color: $govuk-text-colour;
    }
  }
  &__cell--location {
    @include govuk-font($size: 19, $weight: bold);
    text-align:left;
  }
  &__cell--state, &__cell--trend {
    svg {
      display: inline-block;
      vertical-align: middle;
      margin: auto;
      color: govuk-colour('blue');
      @include mq ($from: tablet) {
        display: none;
      }
    }
  }
  &__cell--high {
    svg {
      color: govuk-colour('dark-blue');
    }
  }
  &__cell--rainfall {
    text-align: right;
  }
  &__cell--error {
    @include govuk-font($size: 14);
  }
  &__item-date {
    display: block;
    @include govuk-font($size: 14);
  }
  tbody tr:first-child .defra-flood-table__cell {
    border-top: 0px;
  }
}

// Tooltip overides
.defra-flood-table {
  &__cell--state, &__cell--trend {
    .defra-tooltip:before, .defra-tooltip:after {
      @include mq ($from: tablet) {
        content: none;
      }
    }
    .defra-tooltip__tip {
      @include mq ($from: tablet) {
        position: static !important;
        width: auto !important;
        height: auto !important;
        overflow: visible !important;
        clip: auto !important;
        -webkit-clip-path: none !important;
        clip-path: none !important;
        border: 0 !important;
        white-space: normal !important;
        box-shadow: none;
        top: auto;
        right: auto;
        margin: 0px !important;
        background-color:transparent;
        padding: 0px;
        text-align: center;
        @include govuk-font($size: 19);
      }
    }
  }
}