.defra-navbar {
  position: relative;
  @include govuk-font($size: 16);
  margin: 12px -15px 0px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  padding-top: 3px;
  padding-bottom: 14px;
  border-bottom: 1px solid $govuk-border-colour;
  @include mq ($from: tablet) {
    margin: 30px 0px 0px;
  }
  &:before {
    @include mq ($until: tablet) {
      position: absolute;
      content: '';
      height: 100%;
      width: 15px;
      left: 0px;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &__inner {
    flex: 0 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @include mq ($from: tablet) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  nav {
    float: left;
  }
  &__list {
    list-style: none;
    margin: 0px 0px -1px;
    padding: 0px;
  }
  &__list:after {
    content: '';
    clear: both;
    width: 0px;
    height: 0px;
  }
  &__item {
    color: $govuk-secondary-text-colour;
    float: left;
    margin-right: 15px;
  }
  &__item:last-child {
    margin-right: 0px;
  }
  &__list a {
    display: inline-block;
    text-decoration: none;
    outline: 3px solid transparent;
    padding: 4px 0px;
    border: 0px;
  }
  &__item--selected a {
    background-color: transparent;
    border-bottom: 3px solid currentColor;
  }
  &__list a:focus {
    background-color: $govuk-focus-colour;
    color: govuk-colour('black');
    border: 0px;
    box-shadow: 0 3px 0 govuk-colour('black') !important;
    margin-bottom: 3px;
  }
  .defra-button-secondary {
    float: left;
    border: 0px;
    color: $govuk-link-colour !important;
    margin: 0px 15px 0px 0px !important;
    padding: 4px 0px 4px 21px;
    &:after {
      content: 'Map';
    }
    span {
      @include defra-visually-hidden();
    }
    svg {
      color: govuk-colour('black');
      left: 1px;
    }
    &:focus {
      color: govuk-colour('black') !important;
      box-shadow: 0 3px 0 govuk-colour('black') !important;
    }
    &:hover {
      color: $govuk-link-hover-colour !important;
      background-color: transparent;
    }
  }
}