.defra-navbar {
  position: relative;
  @include govuk-font($size: 16);
  border-bottom: 1px solid govuk-colour('light-grey');
  &__list {
    list-style: none;
    margin: 0px 0px -1px;
    padding: 0px;
  }
  &__item {
    display: inline-block;
    margin-right: 10px;
    color: $govuk-secondary-text-colour;
    span {
      display: block;
      padding: 10px 0px;
    }
    @include mq ($from: tablet) {
      margin-right: 15px;
    }
  }
  &__item:last-child {
    margin-right: 0px;
  }
  a {
    display: block;
    padding: 10px 0px;
    border-bottom: 5px solid transparent;
    text-decoration: none;
  }
  &__item--selected a {
    border-color: govuk-colour('blue');
  }
  a:focus {
    box-shadow: none;
    border-color: govuk-colour('black');
  }
}