.defra-related-items {
  border-top: 2px solid govuk-colour("blue");
  padding-top: govuk-spacing(2);
  margin-top: 0px;
}

// Overides
.defra-related-items .govuk-list {
  margin-bottom: 0px;
}

.defra-related-items .govuk-list > li {
  margin-bottom: govuk-spacing(2);
}

.govuk-grid-column-full .defra-related-items {
  margin-top: 30px;
  @include mq ($from: tablet) {
    margin-top: 40px;
  }
}
  