.defra-search-summary {
  position:relative;
  &__count {
      @include govuk-font($size: 19);
      margin-top: 0px;
      margin-bottom: 10px;
  }
  .defra-button-secondary {
    margin-bottom: 10px;
  }
}