.defra-search-filter {
  padding: 0px 0px 5px 15px;
  border-left: 5px solid $govuk-border-colour;
  &__legend {
    font-weight: normal;
  }
  &__checkbox-item {
    clear: none;
    margin-right: 5px;
  }
  &__button-results {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}
.js-enabled .defra-search-filter {
  display: none;
  &--expanded {
    display: block;
    margin-top: 10px;
  }
  &__heading {
    @include defra-visually-hidden();
  }
  &__button-results {
    display: none;
  }
}