.defra-search-filter {
  &__legend {
    font-weight: bold;
  }
  &__checkbox-item {
    clear: none;
    margin-right: 5px;
  }
}
.js-enabled .defra-search-filter {
  display: none;
  &--expanded {
    display: block;
    margin-bottom: 15px;
  }
  &__heading {
    @include defra-visually-hidden();
  }
  &__results {
    display: none;
  }
}