.defra-segmented-control {
  margin: auto;
  // border-bottom: 1px solid govuk-colour('light-grey');
  &__segment {
    display: inline-block;
    margin-bottom: -1px;
    position: relative;
    text-align: center;
    padding-right: 15px;
  }
  &__segment--selected {
    z-index: 1;
  }
  input {
    position: absolute;
    opacity: 0;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  label {
    cursor: pointer;
    display: block;
    @include govuk-font($size: 16);
    padding: 7.5px 0;
    border-bottom: 3px solid transparent;
    position: relative;
    outline: 3px solid transparent;
    color: govuk-colour('blue');
  }
  input:checked + label {
    border-bottom: 3px solid govuk-colour('blue');
  }
  input:focus + label {
    border-bottom: 3px solid govuk-colour('black');
    background-color: $govuk-focus-colour;
    color: govuk-colour('black');
  }
}