.defra-toggletip {
  display: inline-block;
  position: relative;
  &--open {
      z-index: 1;
  }
  &__link {
      color: $govuk-text-colour !important;
      text-decoration: none;
      margin-bottom: -1px;
      border-bottom: 1px dashed govuk-colour('dark-grey');
      cursor: help;
  }
  &__link:focus {
      border: 0px;
      margin-bottom: -1px;
  }
  &__container {
      box-sizing: border-box;
      position: absolute;
      width: 250px;
      max-width: 290px;
      top: 100%;
      left: 0px;
      margin-top:15px;
      background-color: white;
      border:1px solid govuk-colour('dark-grey');
      padding: 15px;
      // box-shadow: 0px 0px 5px 0px rgba(11,12,12,0.5);
      p {
          @include govuk-font($size: 16, $weight: regular);
      }
      p:last-child {
          margin-bottom: 0px;
      }
  }
  &__container:before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 11px;
      height: 11px;
      background:white;
      top: -7px;
      left: 25px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      // box-shadow: 0px 0px 5px 0px rgba(11,12,12,0.5);
  }
  &__container:after {
      content: '';
      position: absolute;
      width: 11px;
      height: 11px;
      background:white;
      border-left: 1px solid darken(govuk-colour('dark-grey'), 30%);
      border-top: 1px solid darken(govuk-colour('dark-grey'), 30%);
      top: -7px;
      left: 25px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
  }
}