.defra-tooltip {
  display: inline-block;
  position: relative;
	z-index: 1;
  a {
		color: $govuk-text-colour !important;
		text-decoration: none;
		margin-bottom: -1px;
		border-bottom: 1px dashed govuk-colour('dark-grey');
		cursor: help;
  }
  a:focus {
		border: 0px;
		margin-bottom: -1px;
  }
  &__tip {
		box-sizing: border-box;
		position: absolute;
		// width: 250px;
		// max-width: 290px;
		top: 50%;
		right: 100%;
		margin:-1em 10px 0px 0px;
		background-color: white;
		padding: 7.5px 10px;
		text-align: left;
		box-shadow: 0px 0px 2px 1px govuk-colour('mid-grey');
		@include govuk-font($size: 16, $weight: regular);
		p:last-child {
				margin-bottom: 0px;
		}
  }
	&--right .defra-tooltip__tip {
		right: auto;
		left: 100%;
		margin-right: 0px;
		margin-left: 10px;
	}
	&__tip:before {
		content: '';
		position: absolute;
		z-index: 1;
		width: 8px;
		height: 8px;
		background:white;
		top: 16px;
		left: 100%;
		margin: -4px 0px 0px -4px;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
	}
  &__tip:after {
		content: '';
		position: absolute;
		z-index: -1;
		width: 8px;
		height: 8px;
		background:white;
		top: 16px;
		left: 100%;
		margin: -4px 0px 0px -4px;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
		box-shadow: 0px 0px 2px 1px govuk-colour('mid-grey');
  }
	&--right .defra-tooltip__tip:before,
	&--right .defra-tooltip__tip:after {
		left:auto;
		right: 100%;
		margin: -4px -4px 0px 4px;
	}
}
.defra-tooltip:not(.defra-tooltip--open) .defra-tooltip__tip {
  @include defra-visually-hidden();
}