.defra-tooltip {
  display: inline-block;
  position: relative;
	z-index: 1;
	&--open {
		z-index: 99;
	}
	&--open:before {
		content: '';
		position: absolute;
		z-index: 1;
		width: 8px;
		height: 8px;
		background:white;
		top: auto;
		bottom: 100%;
		left: 50%;
		margin: -0px 0px 6px -4px;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
	}
  &--open:after {
		content: '';
		position: absolute;
		z-index: -1;
		width: 8px;
		height: 8px;
		background:white;
		top: auto;
		bottom: 100%;
		left: 50%;
		margin: 0px 0px 6px -4px;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
		box-shadow: 0px 0px 2px 1px govuk-colour('mid-grey');
  }
  a {
		color: $govuk-text-colour !important;
		text-decoration: none;
		margin-bottom: -1px;
		border-bottom: 1px dashed govuk-colour('dark-grey');
		cursor: help;
  }
  a:focus {
		border: 0px;
		margin-bottom: -1px;
  }
  &__tip {
		box-sizing: border-box;
		position: absolute;
		top: auto;
		bottom: 100%;
		left: 0px;
		margin-bottom: 10px;
		background-color: white;
		padding: 7.5px 10px;
		text-align: left;
		box-shadow: 0px 0px 2px 1px govuk-colour('mid-grey');
		@include govuk-font($size: 16, $weight: regular);
		p {
			@include govuk-font($size: 16, $weight: regular);
			margin-bottom: 10px;
		}
		p:last-child {
				margin-bottom: 0px;
		}
  }
	&--fixed-width .defra-tooltip__tip {
		padding: 10px;
		@include mq ($from: tablet) {
			padding: 15px;
		}
		width: 250px;
	}
	&--bottom .defra-tooltip__tip {
		top: 100%;
		bottom: auto;
		margin-top: 10px;
	}
	&--bottom.defra-tooltip--open:before,
	&--bottom.defra-tooltip--open:after {
		top: 100%;
		bottom: auto;
		margin: 6px 0px 0px -4px;
	}
}
.defra-tooltip:not(.defra-tooltip--open) .defra-tooltip__tip {
  @include defra-visually-hidden();
}