.defra-webchat {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px;
  @include mq ($from: tablet) {
    top: auto;
    left: auto;
    width: 360px;
    height: 450px;
    padding: 10px;
  }
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  &__inner {
    position: relative;
    flex: 0 0 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: white;
    border: 0px;
    outline: 0px;
    @include mq ($from: tablet) {
      border: 1px solid govuk-colour('black');
    }
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
    &:focus[keyboard-focus]:after {
      @include focus($glow: 5px, $strong: 2px, $background: 0px, $inset: 0px);
      left: 4px;
      right: 4px;
      top: 4px;
      bottom: 4px;
    }
  }
  &__header {
    flex: 0 0 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background-color: govuk-colour('black');
    padding: 4px 4px 5px 10px;
    h2 {
      @include govuk-font($size: 19, $weight: bold);
      line-height: 1em;
      position: relative;
      margin: -1px 0 0;
      color: white;
    }
  }
  &__content {
    flex: 1 1 auto;
    overflow-y: auto;
    overscroll-behavior: contain;
  }
  &__footer {
    flex: 0 0 0;
  }
}
.defra-webchat-html {
  @include mq ($until: tablet) {
    height: 100vh;
  }
}
.defra-webchat-body {
  @include mq ($until: tablet) {
    position: fixed;
    overflow: hidden;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
  }
}
.defra-webchat-visibility-hidden {
  @include mq ($until: tablet) {
    visibility: hidden;
  }
}
.defra-webchat-list {
  @extend .govuk-list;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  font-family: $govuk-font-family-gds-transport;
  font-size: 16px;
  line-height: 20px;
  &__item {
    display: block;
    flex: 0 0 auto;
    width: 75%;
    margin: 5px 10px;
    padding: 12.5px;
    background-color: govuk-colour('light-grey');
    border-radius: 10px;
  }
  &__item:first-child {
    margin-top: 10px;
  }
  &__item:last-child {
    margin-bottom: 10px;
  }
  &__item--inbound {
    align-self: flex-end;
    background-color: govuk-colour('blue');
    color: white;
  }
  &__item--outbound {
    align-self: flex-start;
  }
}
.defra-webchat-end {
  display: inline-block;
  flex: 0 0 auto;
  align-self: flex-end;
  font-size: 16px;
  color: white;
  background-color: transparent;;
  border: 0px solid transparent;
  padding: 5px;
  margin: 0px 0px 0px auto;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:focus[keyboard-focus] {
    outline: 3px solid $govuk-focus-colour;
  }
  svg {
    position: relative;
    color: white;
    vertical-align: middle;
    pointer-events: none;
  }
}
.defra-webchat-message {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  padding: 10px;
  &__textarea {
    @extend .govuk-textarea;
    font-family: $govuk-font-family-gds-transport;
    font-size: 16px;
    line-height: 20px;
    flex: 1 1 auto;
    align-self: flex-end;
    margin: 0px;
    padding: 7.5px 10px;
    height: 40px;
    resize: none;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:focus[keyboard-focus] {
      outline: 3px solid $govuk-focus-colour;
      outline-offset: 0;
      box-shadow: inset 0 0 0 2px;
    }
  }
  &__send {
    position: relative;
    flex: 0 0 40px;
    align-self: flex-end;
    background-color: govuk-colour('blue');
    border: 1px solid govuk-colour('blue');
    padding: 0px;
    margin: auto 0px 0px 3px;
    box-shadow: none;
    text-indent: -5000px;
    width: 40px;
    height: 40px;
    outline: 0;
    &:focus {
      outline: 3px solid $govuk-focus-colour;
      box-shadow: inset 0 0 0 3px govuk-colour('black');
      border-color: govuk-colour('black');
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -10px;
      margin-top: -10px;
      color: white;
    }
  }
}
.defra-webchat-credit {
  // display: block;
  display: none;
  @include govuk-font($size: 14);
  color: $govuk-secondary-text-colour;
  padding: 0px 10px 5px;
}

