.defra-webchat {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px;
  @include mq ($from: tablet) {
    top: auto;
    left: auto;
    width: 360px;
    height: 450px;
    padding: 10px;
  }
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  &__inner {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: white;
    border: 0px;
    @include mq ($from: tablet) {
      border: 1px solid govuk-colour('black');
    }
    box-sizing: border-box;
  }
  &__header {
    flex: 0 0 0;
    background-color: govuk-colour('black');
    padding: 4px 4px 5px;
    text-align: right;
    h2 {
      @include govuk-font($size: 19, $weight: bold);
      margin: 0px;
      color: white;
    }
  }
  &__content {
    flex: 1 1 auto;
    overflow-y: auto;
    overscroll-behavior: contain;
  }
  &__footer {
    flex: 0 0 0;
  }
}
.defra-webchat-html {
  @include mq ($until: tablet) {
    height: 100vh;
  }
}
.defra-webchat-body {
  @include mq ($until: tablet) {
    position: fixed;
    overflow: hidden;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
  }
}
.defra-webchat-visibility-hidden {
  @include mq ($until: tablet) {
    visibility: hidden;
  }
}
.defra-webchat-list {
  @extend .govuk-list;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  font-family: $govuk-font-family-gds-transport;
  font-size: 16px;
  line-height: 20px;
  &__item {
    display: block;
    flex: 0 0 auto;
    width: 75%;
    margin: 5px 10px;
    padding: 15px;
    background-color: govuk-colour('light-grey');
    border-radius: 10px;
  }
  &__item:first-child {
    margin-top: 10px;
  }
  &__item:last-child {
    margin-bottom: 10px;
  }
  &__item--inbound {
    align-self: flex-end;
    background-color: govuk-colour('blue');
    color: white;
  }
  &__item--outbound {
    align-self: flex-start;
  }
}
.defra-webchat-end {
  display: inline-block;
  font-size: 16px;
  color: white;
  background-color: transparent;;
  border: 0px solid transparent;
  padding: 5px;
  margin: 0px;
  cursor: pointer;
  &:focus {
    outline: 0px;
  }
  &[keyboard-focus] {
    outline: 3px solid $govuk-focus-colour;
  }
  svg {
    position: relative;
    color: white;
    vertical-align: middle;
    pointer-events: none;
  }
}
.defra-webchat-message {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  padding: 10px;
  &__textarea {
    @extend .govuk-textarea;
    font-family: $govuk-font-family-gds-transport;
    font-size: 16px;
    line-height: 20px;
    flex: 1 1 auto;
    align-self: flex-end;
    margin: 0px;
    max-height: 40px;
  }
  &__send {
    position: relative;
    flex: 0 0 40px;
    align-self: flex-end;
    background-color: govuk-colour('blue');
    border: 1px solid govuk-colour('blue');
    padding: 0px;
    margin: auto 0px 0px 3px;
    box-shadow: none;
    text-indent: -5000px;
    width: 40px;
    height: 40px;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -13px;
      margin-top: -10px;
      color: white;
    }
  }
}
.defra-webchat-credit {
  display: block;
  @include govuk-font($size: 14);
  color: $govuk-secondary-text-colour;
  padding: 0px 10px 5px;
}

