// Info panel
.defra-map-info {
  z-index: 4;
  padding:  15px 15px 12px;
  &__content dd {
    margin: 0px;
  }
  &__name {
    display: block;
    @include govuk-font($size: 19, $weight: bold);
    margin: 0px;
    a {
      color: $govuk-text-colour;
    }
  }
  &__name--emphasis {
    font-weight: bold;
  }
  &__description {
    @extend .govuk-body;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  &__meta {
    display: block;
    @include govuk-font($size: 14);
    margin-top: 10px;
    margin-bottom: 0px;
    color: $govuk-secondary-text-colour;
  }
  &__buttons {
    margin: 15px -51px 0px -15px;
    padding: 20px 15px 0px;
    border-top: 1px solid #dbdad9;
  }
  // &__button {
  //   @include govuk-font($size: 16);
  //   position: relative;
  //   display: inline-block;
  //   height: 38px;
  //   line-height: 38px;
  //   box-sizing: content-box;
  //   border:0;
  //   padding:0px 8px;
  //   margin-bottom: 10px !important;
  //   cursor:pointer;
  //   background-color: white;
  //   border: 1px solid $govuk-border-colour;
  //   color: govuk-colour('black');
  //   &::-moz-focus-inner {
  //     border: 0;
  //   }
  //   &:hover {
  //     background-color: govuk-colour('light-grey');
  //   }
  //   &:focus {
  //     // background-color: $govuk-focus-colour;
  //     outline: 3px solid $govuk-focus-colour;
  //     box-shadow: inset 0px 0px 0px 2px govuk-colour('black');
  //     border-color: govuk-colour('black');
  //   }
  //   svg {
  //     position:relative;
  //     display: inline-block;
  //     margin: 2px 3px -1px 0px;
  //   }
  // }
  // &__button--up {
  //   margin-right:10px;
  // }

  // Attributions
  ul {
    @extend .govuk-list;
    @include govuk-font($size: 14);
    margin-bottom: 0px;
  }
  ul > li {
    margin-bottom: 0px;
  }
}