{% extends "layout.html" %}

{% block pageTitle %}
{% if model.isError %}Error: {% endif %}Find location - Check for flooding - GOV.UK
{% endblock %}

{% set isPlaceChecked %}
{% if not model.type or model.type == 'place' %}checked{% endif %}
{% endset %}

{% set isLevelChecked %}
{% if model.type == 'level' %}checked{% endif %}
{% endset %}

{% block beforeContent %}
<div class="govuk-phase-banner">
	<p class="govuk-phase-banner__content">
		<strong class="govuk-tag govuk-phase-banner__content__tag">
			beta
		</strong>
		<span class="govuk-phase-banner__text">
			This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
		</span>
	</p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		{% if model.isError %}
			<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
				<h2 class="govuk-error-summary__title" id="error-summary-title">
					There is a problem
				</h2>
				<div class="govuk-error-summary__body">
					<ul class="govuk-list govuk-error-summary__list">
						<li>
							<a href="#{% if model.type == 'place' %}place{% else %}level{% endif %}">
								{% if model.isErrorPlaceEmpty %}
								Enter town or postcode
								{% elif model.isErrorLevelEmpty %}
								Enter river, town or postcode
								{% else %}
								Enter a full postcode
								{% endif %}
							</a>
						</li>
					</ul>
				</div>
			</div>
		{% endif %}
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<div class="govuk-form-group{% if model.isError %} govuk-form-group--error{% endif %}">
				<fieldset class="govuk-fieldset" aria-describedby="location-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">
							What do you want to check?
						</h1>
					</legend>
					<div id="location-hint" class="govuk-hint">
						Select one option
					</div>
					<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="location" name="location" type="radio" value="place" data-aria-controls="conditional-location" {{ isPlaceChecked }}/>
							<label class="govuk-label govuk-radios__label" for="location">
								Flood warnings and regional forecast
							</label>
						</div>
						<div class="govuk-radios__conditional" id="conditional-location">
							<div class="govuk-form-group">
								<label class="govuk-label" for="place">
									Town or postcode
								</label>
								{% if model.isError and model.type == 'place' %}
								<span id="national-insurance-number-error" class="govuk-error-message">
									<span class="govuk-visually-hidden">Error:</span>
									{% if model.isErrorPlaceEmpty %}
									Enter town or postcode
									{% else %}
									Enter a full postcode
									{% endif %}
								</span>
								{% endif %}
								<input class="govuk-input govuk-!-width-two-thirds" id="place" name="place">
							</div>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="location-2" name="location" type="radio" value="level" data-aria-controls="conditional-location-2" {{ isLevelChecked }}>
							<label class="govuk-label govuk-radios__label" for="location-2">
								A river, sea, groundwater or rainfall level
							</label>
						</div>
						<div class="govuk-radios__conditional" id="conditional-location-2">
							<div class="govuk-form-group">
								<label class="govuk-label" for="level">
									River, town or postcode
								</label>
								{% if model.isError and model.type == 'level' %}
								<span id="national-insurance-number-error" class="govuk-error-message">
									<span class="govuk-visually-hidden">Error:</span>
									{% if model.isErrorLevelEmpty %}
									Enter river, town or postcode
									{% else %}
									Enter a full postcode
									{% endif %}
								</span>
								{% endif %}
								<input class="govuk-input govuk-!-width-two-thirds" id="level" name="level">
							</div>
						</div>
					</div>
				</fieldset>
			</div>
			<!--
			<div class="govuk-form-group {% if model.isError %}govuk-form-group--error{% endif %}">
				<h1 class="govuk-label-wrapper">
					<label class="govuk-label govuk-label--l" for="location">
						Where do you want to check?
					</label>
				</h1>
				<div id="location-hint" class="govuk-hint">
					Postcode, town or river in England
				</div>
				{% if model.isError %}
				<span id="national-insurance-number-error" class="govuk-error-message">
					<span class="govuk-visually-hidden">Error:</span>
					{% if model.isErrorEmpty %}
					Enter where do you want to check
					{% else %}
					Enter a full postcode
					{% endif %}
				</span>
				{% endif %}
				<input class="govuk-input {% if model.isError %}govuk-input--error{% endif %}" value="{{ model.query }}" id="location" name="location" type="text" aria-describedby="location-hint">
			</div>
			-->
			<button type="submit" class="govuk-button">Continue</button>
		</form>
		<p><a href="/">See all flooding in England</a></p>
	</div>
</div>
{% endblock %}