
{% extends "layout.html" %}

{% block pageTitle %}
{% if model.place.name %}
{{ model.place.name }} -
{% endif %}
Flood warnings and alerts in England - GOV.UK
{% endblock %}

{% block content %}

{% if model.isError %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
			<h2 class="govuk-error-summary__title" id="error-summary-title">
				There is a problem
			</h2>
			<div class="govuk-error-summary__body">
				<ul class="govuk-list govuk-error-summary__list">
					<li>
						<a href="#location">
							{% if model.isErrorPostcode %}
              Enter a full postcode
							{% else %}
							Enter a town or postcode
							{% endif %}
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Flood warnings and alerts in England
    </h1>
    {% include "partials/list-search.html" %}
  </div>
</div>

<div class="govuk-grid-row">
  {% if model.isMultipleMatch %}
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-top-4">Locations matching '{{ model.queryTerm }}'</h2>
    <p>More than one match was found for your location. Choose the correct location from the following options:</p>
    <ul class="govuk-list">
      {% for place in model.places %}
      <li><a href="/flood-warnings-and-alerts?place={{ place.name }}">{{ place.name | marked(model.queryTerm) | safe }}</a></li>
      {% endfor %}
    </ul>
    <p>Alternatively try searching again</p>
  </div>

  {% elif model.isNoResultsGet %}
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-top-4">
      No flood warnings or alerts near '{{ model.queryTerm }}'
    </h2>
    <p class="govuk-body"><a href="">You can do this...</a></p>
  </div>

  {% elif model.isNoResultsPost %}
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-top-4">
      No results for '{{ model.queryTerm }}'
    </h2>
    <p class="govuk-body">If you searched a place in England, you should:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>check the spelling</li>
      <li>enter a broader location</li>
    </ul>
    <p class="govuk-body">If you searched a place outside England, you should visit:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.sepa.org.uk/environment/water/flooding/">Scottish Environment Protection Agency</a></li>
      <li><a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">Northern Ireland Direct</a></li>
      <li><a href="https://naturalresources.wales/flooding">Natural Resources Wales</a></li>
    </ul>
  </div>    

  {% elif model.warnings.groups.length %}
  <div class="govuk-grid-column-full">
    <div class="defra-search-summary" id="searchSummary">
      <span id="map-live"></span>
    </div>
    <ul class="defra-flood-list" id="list">
      {% for group in model.warnings.groups %}
      <li class="defra-flood-list-item-group">
        <h3 class="defra-flood-list__group-title" id="{{ group.severity.pluralisedHash }}">
          {{ group.title }}
        </h3>
        <p>{{ group.severity.subTitle }}</p>
        <ul class="defra-flood-list-subgroup">
          {% for item in group.items %}
          <li class="defra-flood-list-item defra-flood-list-item--{{ group.severity.hash }}">
            <span class="defra-flood-list-item__title">
              <a href="/target-area/{{ item.id }}">{{ item.name }}</a>
              <span class="defra-flood-list-data__description">{% if group.severity.id == 4 %}Removed at{% else %}Updated{% endif %} <time datetime="">{{ item.date }}</time></span>
            </span>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="govuk-grid-column-full">
    {% include "partials/context-footer.html" %}
    {% include "partials/related-content.html" %}
  </div>
</div>

{% endblock %}

{% block pageScripts %}
{% if model and model.place %}
<script>
  window.flood = {
    model: { bbox: {{ model.bbox | dump | safe }} }
  }
</script>
{% endif %}
<script src="/public/javascripts/warnings.js"></script>
{% endblock %}