
{% extends "layout.html" %}

{% block pageTitle %}
  Check for flooding - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Check for flooding
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "partials/search.html" %}
    <h2 class="govuk-heading-m">Flood risk today</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="defra-flood-status">
      {% if not model.warnings.hasActive %}
      <div class="defra-flood-status-item">
        <div class="defra-flood-status-item__text">
          No flood alerts or warnings
        </div>
      </div>
      {% endif %}
      {% for group in model.warnings.groups %}
      {% if group.severity.hash != 'removed' %}
      <div class="defra-flood-status-item defra-flood-status-item--{{ group.severity.hash }}">
        <span class="defra-flood-status-item__icon">
          {{ group.severity.icon | safe }}
        </span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="/flood-warnings-and-alerts{% if group.severity.id != model.warnings.highestSeverity %}#{{ group.severity.pluralisedHash }}{% endif %}">
              {{ group.title | lower }}
            </a>
          </strong>
          {% if group.severity.hash == 'severe' %}
          <span class="defra-flood-status-item__text-secondary">There is a danger to life</span>
          {% else %}
          <span class="defra-flood-status-item__text-secondary">{{ group.severity.subTitle }}</span>
          {% endif %}
        </div>
      </div>
      {% else %}
      <p class="defra-flood-status__text">
        <a href="/flood-warnings-and-alerts#{{ group.severity.pluralisedHash }}">{{ group.title | lower }}</a> {{ group.severity.subTitle }}
      </p>
      {% endif %}
      {% endfor %}
    </div>
    {% if model.warnings.hasActive %}
    <span id="map-live"></span>
    {% endif %}
    <div class="defra-flood-meta">Updated at <time datetime="">{{ model.warningsDate }}</time></div> 

    <h2 class="govuk-heading-m" id="outlook">Flood forecast for the next 5 days</h2>
    {% if model.outlookOutOfDate or model.dataError %}
    <div class="defra-service-error govuk-!-margin-bottom-3">
      <h2 class="defra-service-error__title" id="error-summary-title">Sorry, there is currently a problem with the data</h2>
      <p class="govuk-body govuk-!-margin-bottom-0">There is no recent data.</p>
    </div>
    {% else %}
    <p class="govuk-body">{{ model.outlook.full }}</p>
    {% if model.outlook.hasOutlookConcern %}<span id="map-outlook"></span>{% endif %}
    <div class="defra-flood-meta">Updated at <time datetime="{{ model.outlook.outlookUTC }}">{{ model.outlook.outlookTimestamp }}</time><br>Produced by the Met Office and Environment Agency</div>
    {% endif %}

    <h2 class="govuk-heading-m">Flood risk for the next year</h2>
    <p>You may be at long term flood risk from rivers, the sea, surface water or groundwater</p>
    <p><a href="https://www.gov.uk/check-long-term-flood-risk">Check your long term flood risk</a></p>
    <div class="defra-flood-meta"></div>

    <h2 class="govuk-heading-m">River, sea and rainfall levels</h2>
    <p>There are around 3,500 measuring stations and most are along main rivers and the coast. These levels can help you understand your flood risk now and over the next few days.</p>
    <p><a href="/river-sea-groundwater-rainfall-levels">Find river, sea and rainfall levels</a></p>

    {% include "partials/context-footer.html" %}
  </div>
   <div class="govuk-grid-column-one-third">
    <div class="defra-related-items">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://www.gov.uk/sign-up-for-flood-warnings">Get flood warnings by phone, text or email</a>
          </li>      
          <li>
            <a class="govuk-link" href="/plan-ahead-for-flooding">
              How to plan ahead for flooding
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/what-to-do-in-a-flood">
              What to do in a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/recovering-after-a-flood">
              How to recover after a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="https://flood-warning-information.service.gov.uk/long-term-flood-risk">
              Check your long term flood risk
            </a>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/report-flood-cause">
              Report a flood
            </a>
          </li>
        </ul>
      </nav>
    </div>    
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
  window.flood = {
    model: {
      mapButtonText: {{ model.mapButtonText | dump | safe }},
      mapButtonClass: 'defra-button-secondary defra-button-secondary--icon',
      mapLayers: {{ model.mapLayers | dump | safe }},
      outlookDays: {{ model.outlook.days | dump | safe }}
    }
  }
</script>
{% endblock %}
