{% extends "layout.html" %}

{% block head %}
{% include "includes/head.html" %}
<meta name="description" content="There are around 3,500 water level gauges in England and most are along main rivers. These levels can help you understand your flood risk now and over the next few days.">
{% endblock %}

{% block pageTitle %}
{% if model.isErrorBing %}
Sorry, there is a problem with the search - Check for flooding - GOV.UK
{% else %}
{% if model.querySearch %}{{ model.querySearch }} -
{% elif model.isMultipleMatch %}
Choose location -
{% endif %}
Find river, sea, groundwater and rainfall levels - GOV.UK
{% endif %}
{% endblock %}

{% block content %}

{% if model.showBingError %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-service-error govuk-!-margin-bottom-6">
      <h1 class="defra-service-error__title" id="error-summary-title">
        Heading
      </h1>
      <p class="govuk-body govuk-!-margin-bottom-0">
        Message
      </p>
    </div>
  </div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds{% if model.isErrorBing %} govuk-!-padding-bottom-8{% endif %}">
    {% if model.isErrorBing %}
    <h1 class="govuk-heading-xl">
      Sorry, there is a problem with the search
    </h1>
    <p>You can <a href="/river-sea-groundwater-rainfall-levels">search again</a> or contact Floodline.</p>
    <div class="defra-contact">
      <p><strong>Floodline</strong></br>Telephone: 0345 988 1188<br>Textphone: 0345 602 6340<br>Open 24 hours a day, 7 days a week<br><a href="https://gov.uk/call-charges">Find out about call charges</a></p>
    </div>
    {% else %}
    <h1 class="govuk-heading-xl">
      {% if model.querySearchType == 'trigger' %}
      Indicator levels for {{ model.querySearch }}
      {% else %}
      Find river, sea, groundwater and rainfall levels
      {% endif %}
    </h1>
    {% if model.querySearchType != 'trigger' %}
    {% include "partials/list-search.html" %}
    {% endif %}
    {% endif %}
    {% if not model.levels %}
    <span id="map-live"></span>
    {% endif %}
  </div>
</div>

{% if model.isMultipleMatch %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m govuk-!-margin-top-8">Locations matching '{{ model.querySearch }}'</h2>
		<p>More than one match was found for your location. Choose the correct location from the following options:</p>
		{% if model.rivers.length %}
    {% if model.isMultipleGroupMatch %}
		<h3 class="govuk-heading-s">Rivers</h3>
		{% endif %}
		<ul class="govuk-list">
			{% for river in model.rivers %}
			<li><a href="/river-sea-groundwater-rainfall-levels?search={{ river.display }}&searchType=river">{{ river.display | marked(model.querySearch) | safe }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if model.catchments.length %}
    {% if model.isMultipleGroupMatch %}
		<h3 class="govuk-heading-s">River catchments</h3>
		{% endif %}
		<ul class="govuk-list">
			{% for catchment in model.catchments %}
			<li><a href="/river-sea-groundwater-rainfall-levels?search={{ catchment.display }}&searchType=catchment">{{ catchment.name | marked(model.querySearch) | safe }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if model.places.length %}
    {% if model.isMultipleGroupMatch %}
		<h3 class="govuk-heading-s">Levels near</h3>
		{% endif %}
		<ul class="govuk-list">
			{% for place in model.places %}
			<li><a href="/river-sea-groundwater-rainfall-levels?search={{ place.name }}&searchType=place">{{ place.name | marked(model.querySearch) | safe }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		<p>Alternatively try searching again</p>
	</div>
</div>

{% elif model.isErrorLocation %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-top-7">
      No results for '{{ model.querySearch }}'
    </h2>
    <p class="govuk-body">If you searched a river or place in England, you should:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>check the spelling</li>
      <li>enter a broader location</li>
    </ul>
    <p class="govuk-body">If you searched a place outside England, you should visit:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.sepa.org.uk/environment/water/flooding/">Scottish Environment Protection Agency</a></li>
      <li><a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">Northern Ireland Direct</a></li>
      <li><a href="https://naturalresources.wales/flooding">Natural Resources Wales</a></li>
    </ul>         
  </div>
</div>

{% elif model.levels  %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if model.querySearchType != 'trigger' %}
      <nav class="defra-navbar defra-navbar--search-categories" aria-label="Levels by type">
        <div class="defra-navbar__inner">
          <span id="map-live"></span>
          <div class="defra-navbar__group">
            <ul class="defra-navbar__list" id="filter" data-controls="results">
              {% for filter in model.levels.filters %}
              <li class="defra-navbar__item{% if filter.type == model.queryType %} defra-navbar__item--selected{% endif %}">
                <a href="/river-sea-groundwater-rainfall-levels?search={{ model.querySearch }}{% if model.querySearchType %}&searchType={{model.querySearchType}}{% endif %}&type={{ filter.type }}" data-group-type="{{ filter.type }}">{{ filter.type | capitalize }} ({{ filter.count }})</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
      {% endif %}
      {% if model.levels.items %}
      <table id="results" class="defra-flood-levels-table" role="table" aria-labelledby="caption">
        <caption id="caption" class="defra-flood-levels-table__caption">Results for '{{ model.querySearch }}', showing <span>{{ model.queryType }}</span> levels</caption>
        <thead class="defra-flood-levels-table__head" role="rowgroup">
          {%- set hideHeader -%}
          {% if model.queryType == 'rainfall' %}style="display:none"{% endif %}
          {%- endset -%}
          {%- set hideRainfallHeader -%}
          {% if model.queryType != 'rainfall' %}style="display:none"{% endif %}
          {%- endset -%}
          <tr role="row" {{ hideRainfallHeader | safe }} data-group-type="rainfall">
            <th class="defra-flood-levels-table__cell defra-flood-levels-table__cell--location" scope="col" role="columnheader">Gauge</th>
            <th class="defra-flood-levels-table__cell defra-flood-levels-table__cell--rainfall" scope="col" role="columnheader">1 hour</th>
            <th class="defra-flood-levels-table__cell defra-flood-levels-table__cell--rainfall" scope="col" role="columnheader">6 hours</th>
            <th class="defra-flood-levels-table__cell defra-flood-levels-table__cell--rainfall" scope="col" role="columnheader">24 hours</th>
          </tr>
          <tr role="row" {{ hideHeader | safe }} data-group-type="river,sea,groundwater">
            <th class="defra-flood-levels-table__cell defra-flood-levels-table__cell--location" scope="col" role="columnheader">Gauge</th>
            <th class="defra-flood-levels-table__cell defra-flood-levels-table__cell--height" scope="col" role="columnheader">Height</th>
            <th class="defra-flood-levels-table__cell defra-flood-levels-table__cell--trend" scope="col" role="columnheader">Trend</th>
            <th class="defra-flood-levels-table__cell defra-flood-levels-table__cell--state" scope="col" role="columnheader">State</th>
          </tr>
        </thead>
        <tbody class="defra-flood-levels-table__body" role="rowgroup">
        {% for item in model.levels.items %}
        {% include "partials/level-row.html" %}
        {% endfor %}
        </tbody>
      </table>
      <p class="govuk-text govuk-!-margin-top-4 govuk-!-margin-bottom-0">
        {% if model.querySearchType == 'trigger' %}
        <a href="/river-sea-groundwater-rainfall-levels">Find river, sea, groundwater and rainfall levels</a>
        {% else %}
        <a href="/how-we-measure-river-sea-groundwater-rainfall-levels">How we measure river, sea and groundwater levels</a>
        {% endif %}
      </p>
      {% endif %}
    </div>
  </div>

{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "partials/context-footer.html" %}
    {% include "partials/related-content.html" %}
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
  window.flood = {
    model: {
      mapButtonText: 'View map of levels',
      mapButtonClass: 'defra-button-secondary defra-button-secondary--icon',
      mapLayers: 'mv,ri,ti,gr,rf,rl',
      extent: {{ model.extent | dump | safe }},
      riverId: {{ model.riverId | dump | safe }}
    }
  }
</script>
<script src="/public/javascripts/core.js"></script>
{% endblock %}
