{% extends "layout.html" %}

{% block pageTitle %}
{% if model.querySearch %}{{ model.querySearch }} -
{% elif model.isMultipleMatch %}
Choose location -
{% endif %}
River, sea, groundwater and rainfall levels - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      River, sea, groundwater and rainfall levels
    </h1>
    {% include "partials/list-search.html" %}
    {% if not model.levels %}
    <span id="map"></span>
    {% endif %}
  </div>
</div>

{% if model.isMultipleMatch %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m govuk-!-margin-top-8">Locations matching '{{ model.querySearch }}'</h2>
		<p>More than one match was found for your location. Choose the correct location from the following options:</p>
		{% if model.rivers.length %}
    {% if model.isMultipleGroupMatch %}
		<h3 class="govuk-heading-s">Rivers</h3>
		{% endif %}
		<ul class="govuk-list">
			{% for river in model.rivers %}
			<li><a href="/river-sea-groundwater-rainfall-levels?search={{ river.display }}&searchType=river">{{ river.display | marked(model.querySearch) | safe }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if model.catchments.length %}
    {% if model.isMultipleGroupMatch %}
		<h3 class="govuk-heading-s">River catchments</h3>
		{% endif %}
		<ul class="govuk-list">
			{% for catchment in model.catchments %}
			<li><a href="/river-sea-groundwater-rainfall-levels?search={{ catchment.display }}&searchType=catchment">{{ catchment.name | marked(model.querySearch) | safe }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if model.places.length %}
    {% if model.isMultipleGroupMatch %}
		<h3 class="govuk-heading-s">Levels near</h3>
		{% endif %}
		<ul class="govuk-list">
			{% for place in model.places %}
			<li><a href="/river-sea-groundwater-rainfall-levels?search={{ place.name }}&searchType=place">{{ place.name | marked(model.querySearch) | safe }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		<p>Alternatively try searching again</p>
	</div>
</div>

{% elif model.isErrorLocation %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-top-7">
      No results for '{{ model.querySearch }}'
    </h2>
    <p class="govuk-body">If you searched a river or place in England, you should:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>check the spelling</li>
      <li>enter a broader location</li>
    </ul>
    <p class="govuk-body">If you searched a place outside England, you should visit:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.sepa.org.uk/environment/water/flooding/">Scottish Environment Protection Agency</a></li>
      <li><a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">Northern Ireland Direct</a></li>
      <li><a href="https://naturalresources.wales/flooding">Natural Resources Wales</a></li>
    </ul>         
  </div>
</div>

{% elif model.levels  %}
  <h2 class="govuk-visually-hidden">
    Results for '{{ model.querySearch }}'
  </h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="defra-navbar defra-navbar--border defra-navbar--search-categories">
        <div class="defra-navbar__inner">
          <span id="map"></span>
          <nav aria-label="Show results by type" role="navigation">
            <ul class="defra-navbar__list" id="filter" data-controls="results">
              {% for filter in model.levels.filters %}
              <li class="defra-navbar__item{% if filter.type == model.queryType %} defra-navbar__item--selected{% endif %}">
                <a href="/river-sea-groundwater-rainfall-levels?search={{ model.querySearch }}{% if model.querySearchType %}&searchType={{model.querySearchType}}{% endif %}&type={{ filter.type }}" data-group-type="{{ filter.type }}">{{ filter.type | capitalize }} ({{ filter.count }})</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if model.levels.items %}
      <table id="results" class="defra-flood-levels-table" role="table" aria-labelledby="flood-table-caption">
        <caption id="flood-table-caption" class="govuk-visually-hidden">
          Results for {{ model.queryType }}
        </caption>
        <thead class="govuk-visually-hidden" role="rowgroup">
          {%- set hideHeader -%}
          {% if model.queryType == 'rainfall' %}style="display:none"{% endif %}
          {%- endset -%}
          {%- set hideRainfallHeader -%}
          {% if model.queryType != 'rainfall' %}style="display:none"{% endif %}
          {%- endset -%}
          <tr role="row" {{ hideRainfallHeader | safe }} data-group-type="rainfall">
            <th scope="col" role="columnheader">Gauge</th>
            <th scope="col" role="columnheader">1 hour</th>
            <th scope="col" role="columnheader">6 hours</th>
            <th scope="col" role="columnheader">24 hours</th>
          </tr>
          <tr role="row" {{ hideHeader | safe }} data-group-type="river,sea,groundwater">
            <th scope="col" role="columnheader">Gauge</th>
            <th scope="col" role="columnheader">Trend</th>
            <th scope="col" role="columnheader">Height</th>
            <th scope="col" role="columnheader">State</th>
          </tr>
        </thead>
        <tbody class="defra-flood-levels-table__body" role="rowgroup">
        {% for item in model.levels.items %}
        {% include "partials/level-row.html" %}
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>

{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "partials/context-footer.html" %}
    {% include "partials/related-content.html" %}
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
  window.flood = {
    model: {
      bbox: {{ model.bbox | dump | safe }},
      bingApiKey: {{ model.bingApiKey | dump | safe }}
    }
  }
</script>
<script src="/public/javascripts/levels.js"></script>
{% endblock %}
