
{% extends "layout.html" %}

{% block pageTitle %}
{% if model.queryTerm %}{{ model.queryTerm }} -
{% elif model.isMultipleMatch %}
Choose location -
{% endif %}
River, sea, groundwater and rainfall levels - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      River, sea, groundwater and rainfall levels
    </h1>
    {% include "partials/list-search.html" %}
    <span id="map"></span>
  </div>
</div>

{% if model.isMultipleMatch %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m govuk-!-margin-top-8">Locations matching '{{ model.queryTerm }}'</h2>
		<p>More than one match was found for your location. Choose the correct location from the following options:</p>
		{% if model.places.length and model.rivers.length %}
		<h3 class="govuk-heading-s">Rivers</h3>
		{% endif %}
		{% if model.rivers.length %}
		<ul class="govuk-list">
			{% for river in model.rivers %}
			<li><a href="/river-sea-groundwater-rainfall-levels?river={{ river.display }}">{{ river.display | marked(model.queryTerm) | safe }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if model.places.length and model.rivers.length %}
		<h3 class="govuk-heading-s">Levels near</h3>
		{% endif %}
		{% if model.places.length %}
		<ul class="govuk-list">
			{% for place in model.places %}
			<li><a href="/river-sea-groundwater-rainfall-levels?place={{ place.name }}">{{ place.name | marked(model.queryTerm) | safe }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		<p>Alternatively try searching again</p>
	</div>
</div>

{% elif model.isErrorLocation %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-top-7">
      No results for '{{ model.queryTerm }}'
    </h2>
    <p class="govuk-body">If you searched a river or place in England, you should:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>check the spelling</li>
      <li>enter a broader location</li>
    </ul>
    <p class="govuk-body">If you searched a place outside England, you should visit:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.sepa.org.uk/environment/water/flooding/">Scottish Environment Protection Agency</a></li>
      <li><a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">Northern Ireland Direct</a></li>
      <li><a href="https://naturalresources.wales/flooding">Natural Resources Wales</a></li>
    </ul>         
  </div>
</div>

{% elif model.levels  %}
  <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-0">
    Results for '{{ model.queryTerm }}'
  </h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav class="defra-navbar govuk-!-margin-top-4 govuk-!-margin-bottom-4" aria-label="Show levels by type" role="navigation">
        <ul class="defra-navbar__list">
          {% for filter in model.levels.filters %}
          <li class="defra-navbar__item{% if filter.type == model.queryType %} defra-navbar__item--selected{% endif %}">
            {% if filter.count %}
            <a href="/river-sea-groundwater-rainfall-levels?{{ model.querySearchType }}={{ model.queryTerm }}&type={{ filter.type }}">{{ filter.type | capitalize }} ({{ filter.count }})</a>
            {% else %}
            <span>{{ filter.type | capitalize }} ({{ filter.count }})</span>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if model.levels.items %}
      <table class="defra-flood-table">
        <!-- <caption class="defra-flood-table__caption">
          {% if model.queryType == 'rainfall' %}
          Rain gauages with 1, 6 and 24 hour totals upto latest reading
          {% elif model.queryType == 'river' %}
          River levels with latest measurements
          {% endif %}
        </caption> -->
        <thead class="defra-flood-table__head">
          <tr class="defra-flood-table__row">
          {% if model.queryType == 'rainfall' %}
            <th class="defra-flood-table__header defra-flood-table__header--location" scope="col">Location</th>
            <th class="defra-flood-table__header defra-flood-table__header--rainfall" scope="col">1 h<span>ou</span>r</th>
            <th class="defra-flood-table__header defra-flood-table__header--rainfall" scope="col">6 h<span>ou</span>rs</th>
            <th class="defra-flood-table__header defra-flood-table__header--rainfall" scope="col">24 h<span>ou</span>rs</th>
          {% else %}
            <th class="defra-flood-table__header defra-flood-table__header--location" scope="col">Location</th>
            <th class="defra-flood-table__header defra-flood-table__header--height" scope="col">Height</th>
            <th class="defra-flood-table__header defra-flood-table__header--state" scope="col">State</th>
          {% endif %}
          </tr>
        </thead>
        <tbody class="defra-flood-table__body">
        {% for item in model.levels.items %}
        {% include "partials/level-row.html" %}
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="govuk-body">Copy</p>
      {% endif %}
    </div>
  </div>

{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "partials/context-footer.html" %}
    {% include "partials/related-content.html" %}
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
  window.flood = {
    model: {
      bbox: {{ model.bbox | dump | safe }},
      bingApiKey: {{ model.bingApiKey | dump | safe }}
    }
  }
</script>
<script src="/public/javascripts/levels.js"></script>
{% endblock %}