
{% extends "layout.html" %}

{% block pageTitle %}
Check for flooding {% if model.place.type === 'admindivision2' %}in{% else %}near{% endif%} {{ model.place.name }} - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% if model.hasBack %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="/find-location" class="govuk-back-link">Back</a>
  </div>
</div>
{% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Check for flooding {% if model.place.type === 'admindivision2' %}in{% else %}near{% endif%} {{ model.place.name }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "partials/location-banner.html" %}
    {% if model.banner.hasSevere or model.banner.hasWarnings or model.banner.hasAlerts %}
    <span id="map-live"></span>
    {% endif %}
    <p>
      <a href="https://www.gov.uk/sign-up-for-flood-warnings" class="defra-link-icon">
        <svg viewBox="0 0 14 20" width="14" height="20" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" fill="currentColor"><path d="M9.27 15.747C9.27 16.99 8.26 18 7.016 18s-2.253-1.01-2.253-2.253H9.27zM6.015 1.86v-.859A1 1 0 0 1 7.016 0c.553 0 1.002.449 1.002 1.001v.859c2.284.465 4.006 2.487 4.006 4.907v4.357l1.628 1.661c.488.489.488 1.282 0 1.771a1.25 1.25 0 0 1-.886.366H1.252a1.25 1.25 0 0 1-.886-.366c-.488-.489-.488-1.282 0-1.771l1.643-1.661V6.767c0-2.42 1.721-4.442 4.006-4.907z"/></svg>Get flood warnings by phone, text or email
      </a>
      <!-- <a href="https://www.gov.uk/sign-up-for-flood-warnings">Get flood warnings by phone, text or email</a> -->
    </p>
    <p>This service tells you your risk of flooding from rivers, the sea and groundwater. <a href="https://www.gov.uk/find-local-council">Contact your local council about surface water flooding</a> (also known as flash flooding).</p>
    {% if not model.hasActive %}
    <p class="defra-flood-meta defra-flood-meta--border govuk-!-margin-top-0 govuk-!-margin-bottom-4">
      Up to date as of <time datetime="">{{ model.warningsDate }}</time>
    </p>
    {% endif %}

    <!-- River and sea levels -->
    <h2 class="govuk-heading-m">River, sea, groundwater and rainfall levels</h2>
    <p>There are around 3,500 measuring stations, and most are along main rivers and the coast. These levels can help you understand your flood risk now and over the next few days.</p>
    <p><a href="/river-sea-groundwater-rainfall-levels?search={{ model.place.name | urlencode }}&searchType=place">Find a river, sea, groundwater or rainfall level in this area</a></p> 
    <!-- end river and sea levels -->
    <h2 class="govuk-heading-m">Flood forecast for the next 5 days</h2>
    {% if model.outOfDate or model.dataError %}
    <div class="defra-service-error govuk-!-margin-bottom-3">
      <h2 class="defra-service-error__title" id="error-summary-title">Sorry, there is currently a problem with the data</h2>
      <p class="govuk-body govuk-!-margin-bottom-0">There is no recent data.</p>
    </div> 
    {% else %}
      {% include "partials/outlook-region.html" %}
    {% endif %}
    <p class="govuk-!-margin-top-4"><a href="/find-location">Check another location</a></p>
    {% include "partials/context-footer.html" %}
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "partials/related-content.html" %}
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>
  window.flood = {
    model: {
      bbox: {{ model.place.bbox | dump | safe }},
      hasWarnings: {{ model.hasWarnings | dump | safe }},
      outlookDays: {{ model.outlook.days | dump | safe }},
      bingApiKey: {{ model.bingApiKey | dump | safe }}
    }
  }
</script>
<script src="/public/javascripts/location.js"></script>
{% endblock %}
