{% extends 'layout.html' %}

{% block pageTitle %}
{{ model.title }} - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      {{ model.title }}
    </h1>
    <!-- <span class="govuk-caption-m">Measured {{ model.timeElapsed }}</span> -->
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav aria-label="Related levels" class="govuk-!-margin-top-0">
      <span id="map"></span>
      <a href="/river-sea-groundwater-rainfall-levels?place={{ model.nearby }}" class="defra-button-secondary" role="button" data-module="govuk-button">
        Nearby levels
      </a>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-flood-statistics govuk-!-margin-top-4">
      <dl class="defra-flood-statistics__list">
        <div class="defra-flood-statistics__column-one-third"> 
          <dt class="defra-flood-statistics__key">
            1 hour
          </dt>
          <dd class="defra-flood-statistics__value">
            {{ model.latest1hr }}mm
            <!--<span class="defra-flood-statistics__value-detail">upto {{ model.time }}</span>-->
          </dd>
        </div>
        <div class="defra-flood-statistics__column-one-third"> 
          <dt class="defra-flood-statistics__key" aria-describedby="total-description">
            6 hours
          </dt>
          <dd class="defra-flood-statistics__value">
            {{ model.latest6hr }}mm
            <!--<span class="defra-flood-statistics__value-detail">upto {{ model.time }}</span>-->
          </dd>
        </div>
        <div class="defra-flood-statistics__column-one-third"> 
          <dt class="defra-flood-statistics__key" aria-describedby="total-description">
            24 hours
          </dt>
          <dd class="defra-flood-statistics__value">
            {{ model.latest24hr }}mm
            <!--<span class="defra-flood-statistics__value-detail">upto {{ model.time }}</span>-->
          </dd>
        </div>
      </dl>
      <p class="govuk-caption-s govuk-!-margin-top-0 govuk-!-margin-bottom-4">
        Latest reading: {{ model.time }}
        <span class="defra-toggletip">
          <button class="defra-toggletip__button" type="button" aria-label="More information" data-toggletip-content="We get readings more often as the risk of flooding increases">
            <span>i</span>
          </button>
          <span class="defra-toggletip__info" role="status"></span>
        </span>
      </p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-4">Rainfall over the last 5 days in millimetres</h2>
    <div id="bar-chart" class="defra-bar-chart"></div>
    <a href="" class="defra-button-download-s govuk-!-margin-bottom-2 govuk-!-margin-top-4">Download rainfall data for the last 5 days CSV (123KB)</a>
    <!--<p class="govuk-caption-s govuk-!-margin-top-4">We get measurements more often as the risk of flooding increases.</p>-->
  </div>
</div>

{# Station Details #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View technical information
        </span>
      </summary>
      <div class="govuk-details__text">
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-summary-list--defra-flood-station govuk-!-font-size-16">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grid reference
            </dt>
            <dd class="govuk-summary-list__value">NY 12345 12345</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Station name
            </dt>
            <dd class="govuk-summary-list__value">
              Gargrave
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Station ID
            </dt>
            <dd class="govuk-summary-list__value">
              8083
            </dd>
          </div>
        </dl>
      </div>
    </details>
    <!-- <p class="govuk-text govuk-!-margin-bottom-6">
      <a href="/how-we-measure-river-sea-groundwater-rainfall-levels">How we measure rainfall levels</a>
    </p> -->
  </div>  
</div>  

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "partials/social.html" %}
    {% include "partials/context-footer.html" %}
    {% include "partials/related-content.html" %}
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>
  window.flood = {
    model: {
      id: {{ model.station.id | dump | safe }},
      centroid: {{ model.station.centroid | dump | safe }},
      bingApiKey: {{ model.bingApiKey | dump | safe }},
      telemetryId: {{ model.station.telemetryId | dump | safe }}
    }
  }
</script>
<script src="/public/javascripts/rainfall.js"></script>
{% endblock %}
