{% extends 'layout.html' %}

{% block pageTitle %}
{{ model.title }} - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

{# No recent value #}
{% if model.telemetry.status == 'missing' %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-service-error govuk-!-margin-bottom-6">
      <h2 class="defra-service-error__title" id="error-summary-title">There's a problem with the data</h2>
      <p class="govuk-body govuk-!-margin-bottom-0">There's no recent data. Try again later.</p>
    </div>
  </div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
      {{ model.title }}
    </h1>
    <!-- <span class="govuk-caption-m">Measured {{ model.timeElapsed }}</span> -->
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="defra-navbar defra-navbar--secondary" aria-label="Related levels">
      <div class="defra-navbar__inner">
        <span id="map-live"></span>
        <div class="defra-navbar__group">
          <ul class="defra-navbar__list">
            <li class="defra-navbar__item">
              <a href="/river-sea-groundwater-rainfall-levels?search={{ model.nearby }}">Nearby levels</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

{% if model.telemetry.status == 'success' %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-flood-statistics defra-flood-statistics--border">
      <div class="govuk-!-margin-top-4" data-toggletip data-toggletip-label="More information about totals upto" data-toggletip-content="We get readings more often as the risk of flooding increases">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
          Totals up to {{ model.time }}
        </h2>
      </div>
      <dl class="defra-flood-statistics__list" aria-label="Recent totals">
        <div class="defra-flood-statistics__item"> 
          <dt class="defra-flood-statistics__key">
            1 hour
          </dt>
          <dd class="defra-flood-statistics__value">
            <span data-toggletip data-toggletip-label="More information about the 1 hour total" data-toggletip-content="Total for the hour up to {{ model.time }}">
            {{ model.station.rainfall1hr }}mm
            </span>
          </dd>
        </div>
        <div class="defra-flood-statistics__item"> 
          <dt class="defra-flood-statistics__key">
            6 hours
          </dt>
          <dd class="defra-flood-statistics__value">
            <span data-toggletip data-toggletip-label="More information about the 6 hour total" data-toggletip-content="Total for the 6 hours up to {{ model.time }}">
            {{ model.station.rainfall6hr }}mm
            </span>
          </dd>
        </div>
        <div class="defra-flood-statistics__item"> 
          <dt class="defra-flood-statistics__key">
            24 hours
          </dt>
          <dd class="defra-flood-statistics__value">
            <span data-toggletip data-toggletip-label="More information about the 24 hour total" data-toggletip-content="Total for the 24 hours up to {{ model.time }}">
            {{ model.station.rainfall24hr }}mm
            </span>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-bar-chart">
      <h2 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-4">Rainfall over the last 5 days in millimetres</h2>
      <div id="bar-chart" class="defra-bar-chart__container"></div>
      <a href="" class="defra-button-secondary defra-button-secondary--icon" download>
        <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"/></svg>Download data CSV (123KB)
      </a>
    </div>
  </div>
</div>
{% endif %}

{# Station Details #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "partials/social.html" %}
    {% include "partials/context-footer.html" %}
    {% include "partials/related-content.html" %}
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>
  window.flood = {
    model: {
      mapButtonText: 'Map',
      mapButtonClass: 'defra-link-icon-s',
      mapButtonType: 'link',
      mapLayers: 'mv,rf',
      id: {{ model.station.id | dump | safe }},
      centre: {{ model.centre | dump | safe }},
      zoom: {{ model.zoom | dump | safe }},
      selectedId: {{ model.selectedId | dump | safe }},
      telemetry: {{ model.telemetry | dump | safe }},
    }
  }
</script>
<script src="/public/javascripts/rainfall.js"></script>
{% endblock %}
