
{% extends "layout.html" %}

{% block pageTitle %}
{% if model.queryTerm %}{{ model.queryTerm }} -
{% elif model.isError %} Error:
{% elif model.isMultipleMatch %}
Choose location -
{% endif %}
River, sea, groundwater and rainfall levels - GOV.UK
{% endblock %}

{% block content %}

{% if model.isErrorEmpty or model.isErrorPostcode %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
			<h2 class="govuk-error-summary__title" id="error-summary-title">
				There is a problem
			</h2>
			<div class="govuk-error-summary__body">
				<ul class="govuk-list govuk-error-summary__list">
					<li>
						<a href="#location">
							{% if model.isErrorPostcode %}
              Enter a full postcode
							{% else %}
							Enter a river, town or postcode
							{% endif %}
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      River, sea, groundwater and rainfall levels
    </h1>
    {% include "partials/list-search.html" %}
    {% if model.levels.filters | length > 1 %}
    <span id="filter"></span>
    {% endif %}
    <span id="map"></span>
    {% if model.levels.filters | length > 1 %}
    {% include "partials/list-filter.html" %}
    {% endif %}
  </div>
</div>

{% if model.isMultipleMatch and not model.isErrorPostcode %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m govuk-!-margin-top-8">Locations matching '{{ model.queryTerm }}'</h2>
		<p>More than one match was found for your location. Choose the correct location from the following options:</p>
		{% if model.places.length and model.rivers.length %}
		<h3 class="govuk-heading-s">Rivers</h3>
		{% endif %}
		{% if model.rivers.length %}
		<ul class="govuk-list">
			{% for river in model.rivers %}
			<li><a href="/river-sea-groundwater-rainfall-levels?river={{ river.display }}">{{ river.display | marked(model.queryTerm) | safe }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if model.places.length and model.rivers.length %}
		<h3 class="govuk-heading-s">Levels near</h3>
		{% endif %}
		{% if model.places.length %}
		<ul class="govuk-list">
			{% for place in model.places %}
			<li><a href="/river-sea-groundwater-rainfall-levels?place={{ place.name }}">{{ place.name | marked(model.queryTerm) | safe }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		<p>Alternatively try searching again</p>
	</div>
</div>

{% elif model.isErrorLocation and not model.isErrorPostcode %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">
      No results for '{{ model.queryTerm }}'
    </h2>
    <p class="govuk-body">If you searched a river or place in England, you should:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>check the spelling</li>
      <li>enter a broader location</li>
    </ul>
    <p class="govuk-body">If you searched a place outside England, you should visit:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.sepa.org.uk/environment/water/flooding/">Scottish Environment Protection Agency</a></li>
      <li><a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">Northern Ireland Direct</a></li>
      <li><a href="https://naturalresources.wales/flooding">Natural Resources Wales</a></li>
    </ul>         
  </div>
</div>

{% elif model.levels and not model.isError %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div id="searchSummary">
      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-2" aria-live="polite" id="search-count">
        {{ model.levels.numItems }} level{% if model.levels.numItems != 1 %}s{% endif %} {% if model.queryType == 'river' %}on the {{ model.river.name }}{% else %}near {{ model.place.name }}{% endif %}
      </h2>
    </div>
    {% if model.queryType === 'river' %}
    <ul class="defra-flood-list-subgroup" id="list">
      {% for river, items in model.levels.items %}
      {% for item in items %}
      {% include "partials/level-row.html" %}
      {% endfor %}
      {% endfor %}
    </ul>
    {% else %}
    <ul class="defra-flood-list" id="list">
      {% for group, items in model.levels.items %}
        {% if items[0].riverSlug !== '' %}
        <li class="defra-flood-list-item-group">
          <h3 class="defra-flood-list__group-title defra-flood-list__group-title--river">
            <a href="/river-sea-groundwater-rainfall-levels?river={{ group | urlencode }}">{{ group }}</a>
          </h3>
          <ul class="defra-flood-list-subgroup">
            {% for item in items %}
            {% include "partials/level-row.html" %}
            {% endfor %}
          </ul>
        </li>
        {% else %}
        {% for item in items %}
        {% include "partials/level-row.html" %}
        {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "partials/context-footer.html" %}
    {% include "partials/related-content.html" %}
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
  window.flood = {
    model: {
      bbox: {{ model.bbox | dump | safe }},
      bingApiKey: {{ model.bingApiKey | dump | safe }}
    }
  }
</script>
<script src="/public/javascripts/levels.js"></script>
{% endblock %}