
{% extends "layout.html" %}

{% block pageTitle %}
Current levels of the {{ model.river.name }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Current levels of the {{ model.river.name }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-search-summary" id="searchSummary">
      <h2 class="defra-search-summary__count">{{ model.levels | length }} level{% if model.levels | length != 1 %}s{% endif %}</h2>
      <span id="map"></span>
    </div>
    <ul class="defra-flood-list{% if model.river %}-river{% endif %}">
      {% for item in model.levels %}
      {% include "partials/levels-row.html" %}
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
