
{% extends "layout.html" %}

{% block pageTitle %}
{% if model.queryTerm %}{{ model.queryTerm }} -
{% elif model.isMultipleMatch %}
Choose location -
{% endif %}
River, sea, groundwater and rainfall levels - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      River, sea, groundwater and rainfall levels
    </h1>
    {% include "partials/list-search.html" %}
    <span id="map"></span>
  </div>
</div>

{% if model.isMultipleMatch %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m govuk-!-margin-top-8">Locations matching '{{ model.queryTerm }}'</h2>
		<p>More than one match was found for your location. Choose the correct location from the following options:</p>
		{% if model.places.length and model.rivers.length %}
		<h3 class="govuk-heading-s">Rivers</h3>
		{% endif %}
		{% if model.rivers.length %}
		<ul class="govuk-list">
			{% for river in model.rivers %}
			<li><a href="/river-sea-groundwater-rainfall-levels?river={{ river.display }}">{{ river.display | marked(model.queryTerm) | safe }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if model.places.length and model.rivers.length %}
		<h3 class="govuk-heading-s">Levels near</h3>
		{% endif %}
		{% if model.places.length %}
		<ul class="govuk-list">
			{% for place in model.places %}
			<li><a href="/river-sea-groundwater-rainfall-levels?place={{ place.name }}">{{ place.name | marked(model.queryTerm) | safe }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		<p>Alternatively try searching again</p>
	</div>
</div>

{% elif model.isErrorLocation %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">
      No results for '{{ model.queryTerm }}'
    </h2>
    <p class="govuk-body">If you searched a river or place in England, you should:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>check the spelling</li>
      <li>enter a broader location</li>
    </ul>
    <p class="govuk-body">If you searched a place outside England, you should visit:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.sepa.org.uk/environment/water/flooding/">Scottish Environment Protection Agency</a></li>
      <li><a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">Northern Ireland Direct</a></li>
      <li><a href="https://naturalresources.wales/flooding">Natural Resources Wales</a></li>
    </ul>         
  </div>
</div>

{% elif model.levels  %}
{% if model.levels.filters | length > 1 %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-navbar govuk-!-margin-top-4 govuk-!-margin-bottom-4">
      <ul class="defra-navbar__list">
        {% for filter in model.levels.filters %}
        <li class="defra-navbar__item{% if filter.type == model.levels.filter %} defra-navbar__item--selected{% endif %}">
          <a href="/river-sea-groundwater-rainfall-levels?place={{ model.queryTerm }}&filter={{ filter.type }}">{{ filter.type | capitalize }} ({{ filter.count }})</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div id="results">
      {% if model.queryType === 'river' %}
      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0">
        {{ model.levels.numItems }} river level{% if model.levels.numItems != 1 %}s{% endif %} on the {{ model.river.name }}
      </h2>
      <p>Select level to view height over the last 5 days</p>
      <table class="defra-flood-table">
        {% for river, items in model.levels.river.items %}
        {% for item in items %}
        {% include "partials/level-row.html" %}
        {% endfor %}
        {% endfor %}
      </table>
      {% else %}
      {% if model.levels.filter == 'river' %}
      <h2 class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-0" aria-live="polite" id="search-count">
        River level{% if model.levels.numItems != 1 %}s{% endif %} near {{ model.place.name }}
      </h2>
      <p>Select level to view height over the last 5 days</p>
      <table class="defra-flood-table">
        <thead class="defra-flood-table__head">
          <tr class="defra-flood-table__row">
            <th scope="col" class="defra-flood-table__header govuk-!-width-one-half">Location</th>
            <th scope="col" class="defra-flood-table__header govuk-!-width-one-quarter">State</th>
            <th scope="col" class="defra-flood-table__header govuk-!-width-one-quarter" colspan="2">Height</th>
          </tr>
        </thead>
        {% for group, items in model.levels.items %}
          <tr class="">
            <th colspan="4" scope="colgroup" class="defra-flood-table__cell defra-flood-table__cell--river-name">
              <a href="/river-sea-groundwater-rainfall-levels?river={{ group | urlencode }}">{{ group }}</a>
            </th>
          </tr>
          {% for item in items %}
          {% include "partials/level-row.html" %}
          {% endfor %}
        {% endfor %}
      </table>
      {% endif %}

      {% if model.levels.sea | length %}
      <!--
      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0" aria-live="polite" id="search-count">
        {{ model.levels.sea | length }} sea level{% if model.levels.sea | length != 1 %}s{% endif %} near {{ model.place.name }}
      </h2>
      -->
      <p>Select level to view height over the last 5 days</p>
      <table class="defra-flood-table">
        <thead class="defra-flood-table__head">
          <tr class="defra-flood-table__row">
            <th scope="col" class="defra-flood-table__header govuk-!-width-three-quarters">Location</th>
            <th scope="col" class="defra-flood-table__header govuk-!-width-one-quarter" colspan="3">Height</th>
          </tr>
        </thead>
        {% for item in model.levels.sea %}
        {% include "partials/level-row.html" %}
        {% endfor %}
      </table>
      {% endif %}

      {% if model.levels.groundwater | length %}
      <table class="defra-flood-table">
      {% for item in model.levels.groundwater %}
      {% include "partials/level-row.html" %}
      {% endfor %}
      </table>
      {% endif %}

      {% if model.levels.rainfall | length %}
      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0" aria-live="polite" id="search-count">
        {{ model.levels.rainfall | length }} rainfall level{% if model.levels.rainfall | length != 1 %}s{% endif %} near {{ model.place.name }}
      </h2>
      <p>Select level to view accumulations of the last 24 hours</p>
      <table class="defra-flood-table">
        <thead class="defra-flood-table__head">
          <tr class="defra-flood-table__row">
            <th scope="col" class="defra-flood-table__header govuk-!-width-one-half">Location</th>
            <th scope="col" class="defra-flood-table__header">1 hour</th>
            <th scope="col" class="defra-flood-table__header">6 hours</th>
            <th scope="col" class="defra-flood-table__header">24 hours</th>
          </tr>
        </thead>
        {% for item in model.levels.rainfall %}
        {% include "partials/level-row.html" %}
        {% endfor %}
      </table>
      {% endif %}

      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "partials/context-footer.html" %}
    {% include "partials/related-content.html" %}
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
  window.flood = {
    model: {
      bbox: {{ model.bbox | dump | safe }},
      bingApiKey: {{ model.bingApiKey | dump | safe }}
    }
  }
</script>
<script src="/public/javascripts/levels.js"></script>
{% endblock %}