{% extends 'layout.html' %}

{% block pageTitle %}
{{ model.title }} - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-navbar defra-navbar--secondary govuk-!-margin-top-2">
      <div class="defra-navbar__inner">
        <span id="map"></span>
        <nav aria-label="Related levels" role="navigation">
          <ul class="defra-navbar__list">
            {% if model.station.upStationId %}
            <li class="defra-navbar__item">
              <a href="/station/{{ model.station.upStationId }}">Upstream</a>
            </li>
            {% endif %}
            {% if model.station.downStationId %}
            <li class="defra-navbar__item">
              <a href="/station/{{ model.station.downStationId }}">Downstream</a>
            </li>
            {% endif %}
            <li class="defra-navbar__item">
              <a href="/river-sea-groundwater-rainfall-levels?search={{ model.nearby }}">Nearby levels</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

{% if model.banner %}
<div class="defra-flood-status govuk-!-margin-bottom-3">
  <div class="defra-flood-status-item defra-flood-status-item--{{ model.severityLevel }}">
    <span class="defra-flood-status-item__icon"></span>
    <div class="defra-flood-status-item__text">
        {% if model.severeBanner and model.isSevereLinkRenedered %}
        <strong><a class="govuk-link" href="{{ model.severeLink }}">{{ model.severeBanner }}</a></strong>
        {% endif %}
        {% if model.warningsBanner and model.isWarningLinkRendered %}
        <strong><a class="govuk-link" href="{{ model.warningsLink }}">{{ model.warningsBanner }}</a></strong>
        {% endif %}
        {% if model.alertsBanner and model.isAlertLinkRendered %}
        <strong><a class="govuk-link" href="{{ model.alertsLink }}">{{ model.alertsBanner }}</a></strong>
        {% endif %}
        {{ " in this area" if model.warningAnd or model.severeAnd }}
    </div>
  </div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      {{ model.title }}
    </h1>
  </div>
</div>

{# Multi station #}
{% if model.station.isMultiStage %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% if model.station.isDownstage %}
    <p class="govuk-!-margin-bottom-8">This measuring station takes 2 measurements. You're viewing the downstream level. <a href="/station/{{ model.station.id }}">View the upstream level.</a></p>
    {% else %}
    <p class="govuk-!-margin-bottom-8">This measuring station takes 2 measurements. You're viewing the upstream level. <a href="/station/{{ model.station.id }}">View the downstream level.</a></p>
    {% endif %}
  </div>
</div>
{% endif %}

{# Station is suspended #}
{% if model.station.status == 'suspended' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-service-error govuk-!-margin-bottom-6">
      <h2 class="defra-service-error__title" id="error-summary-title">
        This measuring station is offline
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        {% if model.station.statusReason %}
          {{ model.station.statusReason}}
        {% else %}
          We are working to get it back online.
        {% endif %} 
        You can <a href="/river-and-sea-levels">check another river, sea, groundwater or rainfall level</a>.
      </p>
    </div>
  </div>
</div>

{# Station is closed #}
{% elif model.station.status == 'closed' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-service-error govuk-!-margin-bottom-6">
      <h2 class="defra-service-error__title" id="error-summary-title">
        This measuring station is closed
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        No data is available. You can <a href="/river-sea-groundwater-rainfall-levels">check another river, sea, groundwater or rainfall level</a>.
      </p>
    </div>
  </div>
</div>

{# No recent value #}
{% elif model.station.latestStatus == 'missing' %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-service-error govuk-!-margin-bottom-6">
      <h2 class="defra-service-error__title" id="error-summary-title">There's a problem with the data</h2>
      <p class="govuk-body govuk-!-margin-bottom-0">There's no recent data. Try again later.</p>
    </div>
  </div>
</div>

{# Latest mesurement unrelaible #}
{% elif model.station.latestStatus == 'unreliable' %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-service-error govuk-!-margin-bottom-6">
      <h2 class="defra-service-error__title" id="error-summary-title">
        There's a problem with the latest measurement
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        The latest measurement is unreliable. This could be due to a fault with the measuring equipment.
      </p>
    </div>
  </div>
</div>

{% endif %}

<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav aria-label="Related levels" class="govuk-!-margin-top-0">
      <span id="map"></span>
      {% if model.station.upStationId %}
      <a href="/station/{{ model.station.upStationId }}" class="defra-link-s" role="button" data-module="govuk-button">Upstream</a>
      {% endif %}
      {% if model.station.downStationId %}
      <a href="/station/{{ model.station.downStationId }}" class="defra-link-s" role="button" data-module="govuk-button">Downstream</a>
      {% endif %}
      <a href="/river-sea-groundwater-rainfall-levels?place={{ model.nearby }}" class="defra-link-s" role="button" data-module="govuk-button">Nearby levels</a>
    </nav>
  </div>
</div> -->

{% if model.station.status == 'active' and model.station.latestStatus == 'success' %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-flood-statistics">
      <h2 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0">
        Latest at {{ model.time }}
        <span class="defra-toggletip" data-label="More information" data-toggletip-content="We get readings more often as the risk of flooding increases"></span>
      </h2>
      <dl class="defra-flood-statistics__list" aria-label="Latest readings">
        {% if model.station.latestTrend %}
        <div class="defra-flood-statistics__item">
          <dt class="defra-flood-statistics__key">
            Trend
          </dt>
          <dd class="defra-flood-statistics__value">
            {{ model.station.latestTrend | capitalize }}
          </dd>
        </div>
        {% endif %}
        <div class="defra-flood-statistics__item">
          <dt class="defra-flood-statistics__key">
            Height
          </dt>
          <dd class="defra-flood-statistics__value">
            {% if model.station.latestHeight < 0 and model.station.type != 'tide' %}&le; 0m{% else %}{{ model.station.latestHeight | round(2) }}m{% endif %}
          </dd>
        </div>
        {# if station has hasPercentiles, this should exclude Coastal #}
        {% if model.station.levelHigh and model.station.levelLow  %}
        <div class="defra-flood-statistics__item"> 
          <dt class="defra-flood-statistics__key">
            State
          </dt>
          <dd class="defra-flood-statistics__value">
            {{ model.station.latestState | capitalize }}
          </dd>
        </div>
        {% endif %}
      </dl>
      {% if model.station.levelHigh and model.station.levelLow %}
      <p class="govuk-caption-s govuk-!-margin-top-3 govuk-!-margin-bottom-0">
        Normal range {{ model.station.levelLow | round(2) }}m - {{ model.station.levelHigh | round(2) }}m
      </p>
      {% endif %}
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0">Height over the last 5 days {% if model.isFfoi %}and upto 36 hour forecast{% endif %} in metres</h2>

    {# Graph #}
    {% if not (model.station.latestHeight < 0 and model.station.type != 'tide') %}
    <div id="line-chart" class="defra-line-chart"></div>
    {% endif %}

    <a href="" class="defra-link-icon-s govuk-!-margin-bottom-2 govuk-!-margin-top-4">
      <svg width="13" height="20" viewBox="0 0 13 20"><rect x="0" y="1.5" width="10.5" height="14.5" style="fill: currentColor"/><path d="M2,18.5L13,18.5L13,3.5L11.5,3.5L11.5,17.009L2,17.009L2,18.5Z" style="fill: currentColor"/></svg>
      Download height data CSV (123KB)
    </a>
  </div>
</div>
{% endif %}

{# Impacts and thresholds #}
{% if model.thresholds.length > 0 %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-s govuk-!-margin-top-6">How levels here could affect nearby areas</h2>
    {% if model.station.hasImpacts %}
    <span id="toggle-list-display" data-toggle-list-display-type="impact"></span>
    {% endif %}
    <dl class="defra-flood-impact-list govuk-!-margin-bottom-0" id="impact-list">
      {% for band in model.thresholds %}
      <div class="defra-flood-impact-list__row {% if band.isLatest %} defra-flood-impact-list__row--current {% elif band.isExceeded %} defra-flood-impact-list__row--exceeded{% endif %}" {% if band.type === 'historical' %} data-toggle-list-display-item="impact" {% endif %}>
        <dt class="defra-flood-impact-list__key">
          {{ band.level }}m
          {% if not band.isLatest and band.isExceeded %}
          <span class="govuk-visually-hidden">(level exceeded)</span>
          {% endif %}
        </dt>
        {% for threshold in band.values %} 
        <dd class="defra-flood-impact-list__value"  {% if threshold.type === 'historical' %} data-toggle-list-display-item="impact" {% endif %}>
          <div class="defra-flood-impact-list__container">
            {{ threshold.description | safe }}
            {% if not band.isLatest %}
            <span class="defra-flood-impact-list__action" data-line-chart-threshold data-id="threshold-{{ threshold.id }}" data-level="{{ band.level }}" data-name="{{ threshold.name }}"></span>
            {% endif %}
          </div>
        </dd>
        {% endfor %}
      </div>
      {% endfor %}
    </dl> 
  </div>
</div>
{% endif %}

{# Station Details #}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <details class="govuk-details govuk-!-margin-top-6 govuk-!-font-size-16" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View technical information
        </span>
      </summary>
      <div class="govuk-details__text">
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-summary-list--defra-flood-station govuk-!-font-size-16">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Site datum
            </dt>
            <dd class="govuk-summary-list__value">
              {{ model.station.stageDatum }}m (Above Ordnance Datum)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Station name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ model.station.name }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Normal range
            </dt>
            <dd class="govuk-summary-list__value">
            {% if model.station.hasPercentiles %}
                {{ model.station.percentile95 }}m to {{ model.station.percentile5 }}m
            {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Station ID
            </dt>
            <dd class="govuk-summary-list__value">
              {{ model.station.id }}
            </dd>
          </div>
        </dl>
      </div>
    </details>
    <p class="govuk-text govuk-!-margin-bottom-6 govuk-!-font-size-16">
      <a href="/how-we-measure-river-sea-groundwater-rainfall-levels">How we measure river, sea and groundwater levels</a>
    </p>
  </div>  
</div>  

{% include "partials/social.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "partials/context-footer.html" %}
    {% include "partials/related-content.html" %}
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>
  window.flood = {
    model: {
      id: {{ model.station.id | dump | safe }},
      rloiId: {{ model.station.rloiId | dump | safe }},
      centroid: {{ model.station.centroid | dump | safe }},
      bingApiKey: {{ model.bingApiKey | dump | safe }},
      telemetry: {{ model.telemetry | dump | safe }}
    }
  }
</script>
<script src="/public/javascripts/station.js"></script>
{% endblock %}
