{% extends 'layout.html' %}

{% block pageTitle %}
{{ model.title }} - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

{% include "partials/station-banner.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
      {{ model.title }} {% if model.station.isDownstage %}(downstream){% elif model.station.isMultiStage %}(upstream){% endif %}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="defra-navbar defra-navbar--secondary govuk-!-margin-bottom-3" aria-label="Related levels">
      <div class="defra-navbar__inner">
        <span id="map"></span>
        <div class="defra-navbar__group">
          <ul class="defra-navbar__list">
            {% if model.station.upStationId %}
            <li class="defra-navbar__item">
              <a href="/station/{{ model.station.upStationId }}">Upstream</a>
            </li>
            {% endif %}
            {% if model.station.downStationId %}
            <li class="defra-navbar__item">
              <a href="/station/{{ model.station.downStationId }}">Downstream</a>
            </li>
            {% endif %}
            <li class="defra-navbar__item">
              <a href="/river-sea-groundwater-rainfall-levels?search={{ model.nearby }}">Nearby levels</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

{# Multi station #}
{% if model.station.isMultiStage %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if model.station.isDownstage %}
    <p>This measuring station takes 2 measurements. You're viewing the downstream level. <a href="/station/{{ model.station.rloiId | truncate(4, true, '') }}">View the upstream level.</a></p>
    {% else %}
    <p>This measuring station takes 2 measurements. You're viewing the upstream level. <a href="/station/{{ model.station.rloiId }}-downstage">View the downstream level.</a></p>
    {% endif %}
  </div>
</div>
{% endif %}

{% if model.station.status == 'active' and model.station.latestStatus == 'success' %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-flood-statistics defra-flood-statistics--border">
      <div class="govuk-!-margin-top-4" data-toggletip data-toggletip-label="More information about the latest reading" data-toggletip-content="We get readings more often as the risk of flooding increases.">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
          Latest at {{ model.time }}
        </h2>
      </div>
      <dl class="defra-flood-statistics__list" aria-label="Latest readings">
        <div class="defra-flood-statistics__item">
          <dt class="defra-flood-statistics__key">
            Height
          </dt>
          <dd class="defra-flood-statistics__value">
            <span {% if model.station.type == 'river' %}data-toggletip data-toggletip-label="More information about the height" data-toggletip-content="{{ model.infoHeight }}"{% endif %}>
            {% if model.station.latestHeight <= 0 and model.station.type != 'tide' %}0m{% else %}{{ model.station.latestHeight | round(2) }}m{% endif %}
            </span>
          </dd>
        </div>
        {% if model.station.latestTrend %}
        <div class="defra-flood-statistics__item">
          <dt class="defra-flood-statistics__key">
            Trend
          </dt>
          <dd class="defra-flood-statistics__value">
            <span {% if model.station.type == 'river' %}data-toggletip data-toggletip-label="More information about the trend" data-toggletip-content="{{ model.infoTrend }}"{% endif %}>
            {{ model.station.latestTrend | capitalize }}
            </span>
          </dd>
        </div>
        {% endif %}
        {# if station has hasPercentiles, this should exclude Coastal #}
        {% if model.station.levelHigh and model.station.levelLow  %}
        <div class="defra-flood-statistics__item"> 
          <dt class="defra-flood-statistics__key">
            State
          </dt>
          <dd class="defra-flood-statistics__value">
            <span {% if model.station.type == 'river' %}data-toggletip data-toggletip-label="More information about the state" data-toggletip-content="{{ model.infoState }}"{% endif %}>
            {{ model.station.latestState | capitalize }}
            </span>
          </dd>
        </div>
        {% endif %}
      </dl>
      {% if model.station.levelHigh and model.station.levelLow %}
      <p class="govuk-caption-s govuk-!-margin-top-3 govuk-!-margin-bottom-0">
        Normal range {{ model.station.levelLow | round(2) }}m to {{ model.station.levelHigh | round(2) }}m
      </p>
      {% endif %}
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-line-chart govuk-!-margin-bottom-4">
      <h2 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-4">Height in metres over the last 5 days {% if model.station.isForecast %}and up to 36 hour forecast{% endif %}</h2>

      {# Forecast information #}
      {% if model.station.isForecast and not model.station.rloiId == '2001' %}
      <div class="defra-flood-status defra-flood-status--full">
        <div class="defra-flood-status-item defra-flood-status-item--information govuk-!-margin-bottom-4">
          <div class="defra-flood-status-item__container">
            <span class="defra-flood-status-item__icon">
              <svg focusable="false" aria-hidden="true" width="18" height="18" viewBox="0 0 18 18" style="fill-rule:evenodd;clip-rule:evenodd">
                <circle cx="9" cy="9" r="7.5" style="fill:none;stroke:currentColor;stroke-width:1px;"></circle>
                <text x="4.687px" y="12.906px" fill="currentColor" style="font-family:'Courier-Bold', 'Courier';font-size:14px;">i</text>
              </svg>
              <!-- <svg width="18" height="18" viewBox="0 0 18 18" style="fill-rule:evenodd;clip-rule:evenodd"><circle cx="9" cy="9" r="7.5" style="fill:none;stroke:#000;stroke-width:1px;"></circle><text x="4.687px" y="12.906px" style="font-family:'Courier-Bold', 'Courier';font-size:14px;">i</text></svg> -->
            </span>
            <div class="defra-flood-status-item__text">
              <span class="govuk-visually-hidden">Information:</span>
              <p class="govuk-body-s govuk-!-margin-bottom-0">This station includes an automated model{% if model.station.rloiId == '8028' %} which you should consider alongside other factors{% endif %}. The highest level in the model is {{ model.station.forecastHighest | round(2) }}m at {{ model.forecastHighestTime }}.</p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {# Graph #}
      <!-- { if not (model.station.latestHeight < 0 and model.station.type != 'tide') } -->
      <div id="line-chart" class="defra-line-chart__container"></div>
      <!-- { endif } -->

      <!-- Toggletip research -->
      {% if model.station.rloiId == '8152' and model.station.latestHeight <= 0 %}
      <p class="govuk-body-s">It is normal for some stations to be 0m or below as height is measured from a fixed point.</p>
      {% endif %}
      <!-- End toggletip research -->

      <a href="" class="defra-button-secondary defra-button-secondary--icon govuk-!-margin-bottom-4" download>
        <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"/></svg>Download data CSV (123KB)
      </a>
    </div>
  </div>
</div>
{% endif %}

{# Impacts and thresholds #}
{% if model.thresholds.length > 1 %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-4"data-toggletip data-toggletip-label="More information about historical events" data-toggletip-content="Flooding might not happen again at the same historical levels if, for example, flood defences are now in place.">How levels here could affect nearby areas</h2>
    <div id="toggle-list-display" data-toggle-list-display-type="impact"></div>
    <dl class="defra-flood-impact-list govuk-!-margin-bottom-4" id="impact-list">
      {% for band in model.thresholds %}
      <div class="defra-flood-impact-list__row {% if band.isLatest %} defra-flood-impact-list__row--current {% elif band.isExceeded %} defra-flood-impact-list__row--exceeded{% endif %}" {% if band.type === 'historical' %} data-toggle-list-display-item="impact" {% endif %}>
        <dt class="defra-flood-impact-list__key">
          {% if model.station.group_type == 'river' and band.level <= 0 %}&#8804; 0m{% else %}{{ band.level }}m{% endif %}
          {% if not band.isLatest and band.isExceeded %}
          <span class="govuk-visually-hidden">(level exceeded)</span>
          {% endif %}
        </dt>
        {% for threshold in band.values %} 
        <dd class="defra-flood-impact-list__value{% if threshold.name == 'latest' %} defra-flood-impact-list__value--latest{% endif %}" {% if threshold.type == 'historical' %} data-toggle-list-display-item="impact" {% endif %}>
          <div class="defra-flood-impact-list__container">
            {{ threshold.description | safe }}
            {% if threshold.name != 'latest' %}
            <span class="defra-flood-impact-list__action" data-id="threshold-{{ threshold.id }}" data-level="{{ band.level }}" data-name="{{ threshold.name }}" data-threshold-add></span>
            {% endif %}
          </div>
        </dd>
        {% endfor %}
      </div>
      {% endfor %}
    </dl> 
    <!-- <p class="govuk-body-s govuk-!-margin-top-0 govuk-!-margin-bottom-4">Flooding might not happen again at the same historical levels if, for example, flood defences are now in place.</p> -->
  </div>
</div>
{% endif %}

{# Station Details #}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-text govuk-!-margin-bottom-4">
      <a href="/how-we-measure-river-sea-groundwater-rainfall-levels">How we measure river, sea and groundwater levels</a>
    </p>
    <!-- <details class="govuk-details govuk-!-font-size-16 govuk-!-margin-bottom-4" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View station technical information
        </span>
      </summary>
      <div class="govuk-details__text">
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-summary-list--defra-flood-station govuk-!-font-size-16">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Site datum
            </dt>
            <dd class="govuk-summary-list__value">
              {{ model.station.stageDatum }}m (Above Ordnance Datum)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Station name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ model.station.name }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Station ID
            </dt>
            <dd class="govuk-summary-list__value">
              {{ model.station.id }}
            </dd>
          </div>
        </dl>
      </div>
    </details> -->
    {% include "partials/context-footer.html" %}
    {% include "partials/social.html" %}
    {% include "partials/related-content.html" %}
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>
  window.flood = {
    model: {
      id: {{ model.station.id | dump | safe }},
      rloiId: {{ model.station.rloiId | dump | safe }},
      riverId: {{ model.station.riverId | dump | safe }},
      centroid: {{ model.station.centroid | dump | safe }},
      telemetry: {{ model.telemetry | dump | safe }}
    }
  }
</script>
<script src="/public/javascripts/station.js"></script>
{% endblock %}
