
{% extends "layout.html" %}

{% block pageTitle %}
{{ model.title }} - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="/find-location" class="defra-flood-location-link">Check another location</a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Active -->
    <div class="defra-flood-status govuk-!-margin-bottom-3">
      {% if model.isActive %}
      <div class="defra-flood-status-item defra-flood-status-item--{{ model.targetArea.severity.hash }}">
        <span class="defra-flood-status-item__icon">
          {{ model.targetArea.severity.icon | safe }}
        </span>
        <div class="defra-flood-status-item__text">
          <strong>{{ model.targetArea.severity.subTitle }} - <a class="govuk-link" href="{{ model.targetArea.severity.actionLink }}">{{ model.targetArea.severity.tagline }}</a></strong>
        </div>
      </div>

      <!-- Inactive but active parent -->
      {% elif model.isParentActive %}
      <div class="defra-flood-status-item defra-flood-status-item--alert">
        <span class="defra-flood-status-item__icon">
          {{ model.targetArea.parentSeverity.icon | safe }}
        </span>
        <div class="defra-flood-status-item__text">
          {% if model.isRemoved %}
          The flood warning was removed, but there's still <a href="/target-area/{{ model.targetArea.parentId }}">a flood alert in the wider area</a>  
          {% else %}
          There are no flood warnings in this area, but there is <a href="/target-area/{{ model.targetArea.parentId }}">a flood alert in the wider area</a>
          {% endif %}
        </div>
      </div>

      <!-- Inactive or removed and inactive parent -->
      {% elif not model.isParentActive %}
      <div class="defra-flood-status-item">
        {% if model.isRemoved %}
        <div class="defra-flood-status-item__text">
          The flood {% if model.targetArea.type == 'warning' %}warning{% else %}alert{% endif %} was removed
        </div>
        {% else %}
        <div class="defra-flood-status-item__text">
          There are no flood {% if model.targetArea.type == 'warning' %}warnings{% else %}alerts{% endif %} in this area
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
      {{ model.title }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if model.targetAreaMessageDate %}
    <p class="defra-flood-meta govuk-!-margin-top-1 govuk-!-margin-bottom-0">
      <time datetime="">{{ model.targetAreaMessageDate }}</time>
    </p>
    {% endif %}
    <span id="map-live"></span>
  </div>
</div>
<div class="govuk-grid-row govuk-!-padding-top-6">
  <div class="govuk-grid-column-two-thirds">
    {% if model.targetArea.message %}
    <p>{{ model.targetArea.message }}</p>
    {% elif model.type == 'warning' %}
    <p>We'll update this page when there's a flood warning in the area.</p>
    <p>A flood warning means flooding to some property is expected. A severe flood warning means there's a danger to life.</p>
    {% else %}
    <p>We'll update this page when there's a flood alert in the area, which means flooding to low lying land is possible.</p>
    {% endif %}
    <p>
      <a href="https://www.gov.uk/sign-up-for-flood-warnings">
        {% if model.isActive %}
        Get updates by phone, text or email
        {% else %}
        Get flood warnings by phone, text or email
        {% endif %}
      </a>
    </p>
    {% if model.isActive %}
    <p>Could this information be better?<br/><a href="">Tell us how to improve it.</a></p>
    {% endif %}
    {% include "partials/context-footer.html" %}
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "partials/related-content.html" %}
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>
  window.flood = {
    model: {
      id: {{ model.targetArea.id | dump | safe }},
      type: {{ model.targetArea.type | dump | safe }},
      name: {{ model.targetArea.name | dump | safe }},
      centroid: {{ model.targetArea.centroid | dump | safe }},
      bbox: {{ model.targetArea.bbox | dump | safe }},
      bingApiKey: {{ model.bingApiKey | dump | safe }}
    }
  }
</script>
<script src="/public/javascripts/target-area.js"></script>
{% endblock %}
