
{% extends "layout.html" %}

{% block pageTitle %}
{{ model.title }} - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="/find-location" class="defra-flood-location-link">Check another location</a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Active -->
    <div class="defra-flood-status govuk-!-margin-bottom-3">
      {% if model.isActive %}
      <div class="defra-flood-status-item defra-flood-status-item--{{ model.targetArea.severity.hash }}">
        <span class="defra-flood-status-item__icon">
          {{ model.targetArea.severity.icon | safe }}
        </span>
        <div class="defra-flood-status-item__text">
          <strong>{{ model.targetArea.severity.subTitle }} - <a class="govuk-link" href="{{ model.targetArea.severity.actionLink }}">{{ model.targetArea.severity.tagline }}</a></strong>
        </div>
      </div>

      <!-- Inactive but active parent -->
      {% elif model.isParentActive %}
      <div class="defra-flood-status-item defra-flood-status-item--alert">
        <span class="defra-flood-status-item__icon">
          {{ model.targetArea.parentSeverity.icon | safe }}
        </span>
        <div class="defra-flood-status-item__text">
          {% if model.isRemoved %}
          The flood warning was removed, but there's still <a href="/target-area/{{ model.targetArea.parentId }}">a flood alert in the wider area</a>  
          {% else %}
          There are no flood warnings in this area, but there is <a href="/target-area/{{ model.targetArea.parentId }}">a flood alert in the wider area</a>
          {% endif %}
        </div>
      </div>

      <!-- Inactive or removed and inactive parent -->
      {% elif not model.isParentActive %}
      <div class="defra-flood-status-item">
        {% if model.isRemoved %}
        <div class="defra-flood-status-item__text">
          The flood {% if model.targetArea.type == 'warning' %}warning{% else %}alert{% endif %} was removed
        </div>
        {% else %}
        <div class="defra-flood-status-item__text">
          There are no flood {% if model.targetArea.type == 'warning' %}warnings{% else %}alerts{% endif %} in this area
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      {{ model.title }}
    </h1>
    {% if model.targetAreaMessageDate %}
    <p class="defra-flood-meta govuk-!-margin-top-1 govuk-!-margin-bottom-0">
      <time datetime="">{{ model.targetAreaMessageDate }}</time>
    </p>
    {% endif %}
    <span id="map-live"></span>

    <div class="govuk-!-padding-top-6">
      {% if model.targetArea.message %}
      <p>{{ model.targetArea.message | safe }}</p>
      {% elif model.type == 'warning' %}
      <p>We'll update this page when there's a flood warning in the area.</p>
      <p>A flood warning means flooding to some property is expected. A severe flood warning means there's a danger to life.</p>
      {% else %}
      <p>We'll update this page when there's a flood alert in the area, which means flooding to low lying land is possible.</p>
      {% endif %}

      {# -- Flood area -- #}
      <p>Flood {{ model.targetArea.type }} area: {{ model.targetArea.geography }}</p>
      
      {# -- Trigger levels -- #}
      {% set levelsLength = model.targetArea.levels | length %}
      <p>
        {% if levelsLength == 1 %}
        <a href="/station/{{ model.targetArea.levels[0].id }}">View the {{ model.targetArea.levels[0].riverName }} level at {{ model.targetArea.levels[0].name }}</a>, which gives an indication of the latest level for this area.
        {% elif levelsLength > 1 %}
        <a href="/target-area/{{ model.targetArea.id }}/levels">View the latest indicator levels for this area</a>
        <!-- <a href="/target-area/{{ model.targetArea.id }}/levels">Get an indication of the latest levels for this area.</a> -->
        {% else %}
        <a href="/river-sea-groundwater-rainfall-levels">Find a river, sea, groundwater or rainfall level in this area</a>
        {% endif %}
      </p>

      {# -- Get flood warnings by phone, text or email -- #}
      <p>
        <a href="https://www.gov.uk/sign-up-for-flood-warnings" class="defra-link-icon">
          <span class="defra-link-icon__icon"><svg viewBox="0 0 14 20" width="14" height="20" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" fill="currentColor"><path d="M9.27 15.747C9.27 16.99 8.26 18 7.016 18s-2.253-1.01-2.253-2.253H9.27zM6.015 1.86v-.859A1 1 0 0 1 7.016 0c.553 0 1.002.449 1.002 1.001v.859c2.284.465 4.006 2.487 4.006 4.907v4.357l1.628 1.661c.488.489.488 1.282 0 1.771a1.25 1.25 0 0 1-.886.366H1.252a1.25 1.25 0 0 1-.886-.366c-.488-.489-.488-1.282 0-1.771l1.643-1.661V6.767c0-2.42 1.721-4.442 4.006-4.907z"/></svg></span>{% if model.isActive %}Get flood warnings by phone, text or email{% else %}Get flood warnings by phone, text or email{% endif %}
        </a>
        <!-- <a href="https://www.gov.uk/sign-up-for-flood-warnings">
          {% if model.isActive %}Get updates by phone, text or email{% else %}Get flood warnings by phone, text or email{% endif %}
        </a> -->
      </p>

      {# -- Feedback -- #}
      {% if model.isActive %}
      <p>Could this information be better? <a href="">Tell us how to improve it.</a></p>
      {% endif %}
      
      {% include "partials/context-footer.html" %}
      {% include "partials/social.html" %}
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "partials/related-content.html" %}
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>
  window.flood = {
    model: {
      mapButtonText: {{ model.mapButtonText | dump | safe }},
      mapButtonClass: {{ model.mapButtonClass | dump | safe }},
      mapLayers: {{ model.mapLayers | dump | safe }},
      selectedId: {{ model.targetArea.id | dump | safe }},
      type: {{ model.targetArea.type | dump | safe }},
      extent: {{ model.targetArea.bbox | dump | safe }},
      targetArea: {{ model.mapFeature | dump | safe }}
    }
  }
</script>
<script src="/public/javascripts/core.js"></script>
{% endblock %}
