{% if model.isAvailable %}
<div class="wc-link" data-wc-link>
  <div class="wc-link__inner">
    <a href="#webchat" id="wc-open" role="button" draggable="false" class="wc-open-btn" data-wc-open-btn data-wc-focus-visible>
      {{ model.btnText }}
      <span aria-live="polite">
        {% if model.unseen %}
        <span class="wc-open-btn__unseen">{{ model.unseen }}</span> <span class="govuk-visually-hidden">new message{% if model.unseen > 1 %}s{% endif %}</span>
        {% endif %}
      </span>
    </a>
  </div>
</div>
{% else %}
<p class="govuk-body">When an adviser is available, a 'start chat' link will appear.</p>
{% endif %}