{% if model.view == 'UNAVAILABLE' %}
<div class="wc-content">
  {% if model.name %}
  <a href="#" class="wc-back-link" data-wc-start-back-btn>Your name and question</a>
  {% endif %}
  <h3 id="wc-subtitle" class="govuk-heading-m">Webchat is currently not available</h3>
  <p>Try again later, or call Floodline:</p>
  <p><strong>Floodline helpline</strong><br/>Telephone: 0345 988 1188<br>Textphone: 0345 602 6340<br>Open 24 hours a day, 7 days a week<br><a href="https://gov.uk/call-charges">Find out more about call charges</a></p>
  <p>We’re running webchat as a trial, it will not always be available.</p>
</div>

{% elif model.view == 'PRECHAT' %}
<div class="wc-content">
  <h3 id="wc-subtitle" class="govuk-heading-m">What you can use webchat for</h3>
  <p>Webchat lets you talk directly to a Floodline adviser.</p>
  <p>You can use webchat to get: </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>current flood warnings and alerts in your area</li>
    <li>information on the flood warning service</li>
    <li>advice on what to do before, during and after a flood</li>
  </ul>
  <p>There are other ways to <a href="https://www.gov.uk/sign-up-for-flood-warnings">sign up for flood warnings</a> and <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_8uMAuaH3kbJl965?Source=https://check-for-flooding.service.gov.uk">manage your flood warnings account</a>.</p>
  <p>Do not use webchat to <a href="https://www.gov.uk/report-flood-cause">report a flood</a>.</p>
  <button class="wc-start-btn govuk-!-margin-top-1" data-module="govuk-button" data-wc-start-btn>
    Continue
  </button>
  <h3 class="govuk-heading-m">Other flood information</h3>
  <p>Call Floodline for all other flood and flood warning information.</p>
  <p><strong>Floodline helpline</strong><br/>Telephone: 0345 988 1188<br>Textphone: 0345 602 6340<br>Open 24 hours a day, 7 days a week<br><a href="https://gov.uk/call-charges">Find out more about call charges</a></p>
</div>

{% elif model.view == 'START' %}
<div class="wc-content">
  <a href="#" class="wc-back-link" data-wc-prechat-back-btn>What you can use webchat for</a>
  {% if model.error %}
  <div class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1" data-wc-error-summary>
    <div role="alert">
      <h3 id="wc-error" class="govuk-error-summary__title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% if model.error.nameEmpty %}
          <li>
            <a href="#name" data-wc-error-summary-link>Enter your name</a>
          </li>
          {% endif %}
          {% if model.error.questionEmpty %}
          <li>
            <a href="#question" data-wc-error-summary-link>Enter your question</a>
          </li>
          {% endif %}
          {% if model.error.questionExceeded %}
          <li>
            <a href="#question" data-wc-error-summary-link>Your question must be 500 characters or less</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
  <h3 id="wc-subtitle" class="govuk-heading-m">Your name and question</h3>
  <form data-wc-start-form>
    <div class="govuk-form-group {% if model.error.nameEmpty %}govuk-form-group--error{% endif %}">
      <label class="govuk-label" for="name">
        Your name
      </label>
      {% if model.error.nameEmpty %}
      <p class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Enter your name
      </p>
      {% endif %}
      <input class="govuk-input {% if model.error.nameEmpty %}govuk-input--error{% endif %}" id="name" name="name" type="text" value="{{ model.name }}">
    </div>
    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
      <div class="govuk-form-group {% if model.error.questionEmpty or model.error.questionExceeded %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="question">
          Your question
        </label>
        {% if model.error.questionEmpty or model.error.questionExceeded %}
        <p class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          {% if model.error.questionEmpty %}
          Enter your question
          {% else %}
          Your question must be 500 characters or less
          {% endif %}
        </p>
        {% endif %}
        <textarea class="govuk-textarea wc-textarea-question{% if model.error.questionEmpty or model.error.questionExceeded %} wc-textarea--error{% endif %} govuk-js-character-count" id="question" name="question" rows="5" aria-describedby="question-info">{{ model.question }}</textarea>
      </div>
      <div id="question-info" class="wc-hint govuk-hint govuk-character-count__message">
        You can enter up to 500 characters
      </div>
    </div>
    <button class="wc-submit-btn govuk-!-margin-top-1" data-module="govuk-button" data-wc-request-chat-btn>
      Request chat
    </button>
  </form>
</div>

{% elif model.view == 'OPEN' %}
<ul class="wc-list" data-wc-list>
  {% for message in model.messages %}
  {{ message.html | safe }}
  {% endfor %}
</ul>

{% elif model.view == 'TIMEOUT' %}
<div class="wc-content">
  <h3 id="wc-subtitle" class="govuk-heading-m">Your session has timed out</h3>
  <p>You did not do anything for {{ model.timeout }}.</p>
  <div class="govuk-button-group">
    <button class="wc-submit-feedback-btn" data-module="govuk-button" data-wc-feedback-btn>Give feedback</button>
    <a href="#" role="button" draggable="false" data-module="govuk-button" data-wc-close-btn>Cancel</a>
  </div>
</div>

{% elif model.view == 'END' %}
<div class="wc-content">
  <h3 id="wc-subtitle" class="govuk-heading-m">Are you sure you want to end the chat?</h3>
  <div class="govuk-button-group">
    <button class="wc-confirm-end-btn" data-module="govuk-button" data-wc-confirm-end-btn>Yes, end chat</button>
    <a href="#" role="button" draggable="false" data-module="govuk-button" data-wc-resume-btn>No, resume chat</a>
  </div>
</div>

{% elif model.view == 'FEEDBACK' %}
<div class="wc-content">
  {% if model.error %}
  <div class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1" data-wc-error-summary>
    <div role="alert">
      <h3 id="wc-error" class="govuk-error-summary__title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% if model.error.satisfactionEmpty %}
          <li>
            <a href="#satisfaction" data-wc-error-summary-link>Select how did you feel about webchat</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
  <h3 id="wc-subtitle" class="govuk-heading-m">Give feedback</h3>
  <div class="govuk-form-group{% if model.error.satisfactionEmpty %} govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend">
        Overall, how did you feel about your webchat
      </legend>
      {% if model.error.satisfactionEmpty %}
      <p class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Select how did you feel about your webchat
      </p>
      {% endif %}
      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="satisfied" name="satisfaction" type="radio" value="Satisfied">
          <label class="govuk-label govuk-radios__label" for="satisfied">
            Satisfied
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="no-opinion" name="satisfaction" type="radio" value="No opinion">
          <label class="govuk-label govuk-radios__label" for="no-opinion">
            No opinion
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="dissatisfied" name="satisfaction" type="radio" value="Dissatisfied">
          <label class="govuk-label govuk-radios__label" for="dissatisfied">
            Dissatisfied
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="improvements">
      How can we improve webchat? (optional)
    </label>
    <textarea class="govuk-textarea govuk-!-margin-bottom-4" id="improvements" name="improvements" rows="5"></textarea>
  </div>
  <div class="govuk-button-group">
    <button class="wc-feedback-btn" data-module="govuk-button" data-wc-submit-feedback-btn>Submit</button>
    <a href="#" role="button" draggable="false" data-module="govuk-button" data-wc-close-btn>Cancel</a>
  </div>
</div>

{% elif model.view == 'FINISH' %}
<div class="wc-content">
  <h3 id="wc-subtitle" class="govuk-heading-m">Thank you for your feedback</h3>
  <div>
    <a href="#" role="button" draggable="false" data-module="govuk-button" data-wc-focus-visible data-wc-close-btn>Close window</a>
  </div>
</div>

{% elif model.view == 'SETTINGS' %}
<div class="wc-content">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h3 id="wc-subtitle" class="govuk-heading-m">Change settings</h3>
      </legend>
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="audio" name="audio" type="checkbox" value="audio"{% if model.hasAudio %} checked{% endif %}>
          <label class="govuk-label govuk-checkboxes__label" for="audio">
            Play a sound when receiving a new message
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="scroll" name="scroll" type="checkbox" value="scroll"{% if model.isScroll %} checked{% endif %}>
          <label class="govuk-label govuk-checkboxes__label" for="scroll">
            Scroll automatically to a new message
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="govuk-button-group">
    <button class="wc-feedback-btn" data-module="govuk-button" data-wc-save-settings-btn>Save</button>
    <a href="#" role="button" draggable="false" data-module="govuk-button" data-wc-cancel-settings-btn>Cancel</a>
  </div>
</div>

{% else %}
<div class="wc-content">
  <p id="wc-subtitle" class="govuk-heading-m">Connecting to Floodline</p>
</div>
{% endif %}