{% if model.availability == 'AVAILABLE' %}
{% if model.view == 'PRECHAT' %}
<button class="wc-continue-btn govuk-!-margin-top-2" data-module="govuk-button" data-wc-continue-btn>
  Continue
</button>
{% else %}
<button class="wc-submit-btn" data-module="govuk-button" data-wc-submit-btn>
  Request chat
</button>
{% endif %}
{% else %}
<div class="wc-inset-text">
  {% if model.view == 'PRECHAT' %}
  A 'Continue' link will be shown when an adviser is available. You don't need to refresh this page.
  {% else %}
  A 'Request chat' link will be shown when an adviser is available. You don't need to refresh this page.
  {% endif %}
</div>
{% endif %}