<div class="wc__header{% if model.view == 'OPEN' %} wc__header--open{% endif %}">
  <div class="wc-header">
    {% if model.isBack %}
    <button class="wc-back-btn" aria-label="Back" data-wc-back-btn>
      <svg aria-hidden="true" focusable="false" width="20" height="20" viewBox="0 0 20 20">
        <path d="M4.828,11L12.314,18.485L10.899,19.899L1,10L10.899,0.101L12.314,1.515L4.828,9L19,9L19,11L4.828,11Z" fill="currentColor"/>
      </svg>
    </button>    
    {% endif %}
    <h2 class="wc-title">Floodline webchat</h2>
    {% if model.view == 'OPEN' or model.view == 'END' %}
    <button class="wc-hide-btn" aria-label="Hide chat" {% if model.isBack %}data-wc-back-btn{% else %}data-wc-close-btn{% endif %}>
      <svg aria-hidden="true" focusable="false" width="20" height="20" viewBox="0 0 20 20">
        <path d="M10 14.4l-7-7L4.4 6l5.6 5.6L15.6 6 17 7.4l-7 7z" fill="currentColor"/>
      </svg>
    </button>   
    {% else %}
    <button class="wc-close-btn" aria-label="Close window" {% if model.isBack %}data-wc-back-btn{% else %}data-wc-close-btn{% endif %}>
      <svg aria-hidden="true" focusable="false" width="20" height="20" viewBox="0 0 20 20">
        <path d="M10,8.6L15.6,3L17,4.4L11.4,10L17,15.6L15.6,17L10,11.4L4.4,17L3,15.6L8.6,10L3,4.4L4.4,3L10,8.6Z" fill="currentColor"></path>
      </svg>
    </button>
    {% endif %}
  </div>
  {% if model.view == 'OPEN' %}
  <div class="wc-status">
    <p class="wc-status__content">
      {% if model.availability == 'AVAILABLE' %}
      {% if model.status == 'closed' %}
      Session ended by adviser
      {% elif model.assignee %}
      Speaking with {{ model.assignee }}
      {% else %}
      Connecting you to an adviser
      {% endif %}
      {% else %}
      Webchat is currently offline
      {% endif %}
    </p>
    <div class="wc-status__button">
      <a href="#" role="button" class="wc-end-btn" data-wc-end-btn>End chat</a>
    </div>
  </div>
  {% endif %}
</div>
{% if model.view == 'PRECHAT' and model.availability == 'AVAILABLE' %}
<div class="wc__body">
  <div class="wc-prechat">
    <h3 class="govuk-heading-m">What you can use webchat for</h3>
    <p>Webchat lets you talk directly to a Floodline adviser.</p>
    <p>You can use webchat to get: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>current flood warnings and alerts in your area</li>
      <li>information on the flood warning service</li>
      <li>advice on what to do before, during and after a flood</li>
    </ul>
    <p>There are other ways to <a href="https://www.gov.uk/sign-up-for-flood-warnings">sign up for flood warnings</a> and <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_8uMAuaH3kbJl965?Source=https://check-for-flooding.service.gov.uk">manage your flood warnings account</a>.</p>
    <p>Do not use webchat to <a href="https://www.gov.uk/report-flood-cause">report a flood</a></p>
    <button class="wc-continue-btn govuk-!-margin-top-2" data-module="govuk-button" data-wc-continue-btn>
      Continue
    </button>
    <h3 class="govuk-heading-m">Other flood information</h3>
    <p>Call Floodline for all other flood and flood warning information.</p>
    <p><strong>Floodline</strong><br/>Telephone: 0345 988 1188<br>Textphone: 0345 602 6340<br>Open 24 hours a day, 7 days a week<br><a href="https://gov.uk/call-charges">Find out more about call charges</a></p>
  </div>
</div>
{% elif model.view == 'START' and model.availability == 'AVAILABLE' %}
<div class="wc__body">
  <div class="wc-prechat">
    <a href="#" class="wc-back-link" data-wc-back-prechat>Back</a>
    <div class="govuk-form-group">
      <label class="govuk-label" for="name">
        Name
      </label>
      <input class="govuk-input" id="name" name="name" type="text">
    </div>
    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
      <div class="govuk-form-group">
        <label class="govuk-label" for="message">
          Your question
        </label>
        <textarea class="govuk-textarea govuk-js-character-count" id="message" name="message" rows="5" aria-describedby="message-info"></textarea>
      </div>
      <div id="message-info" class="wc-hint govuk-hint govuk-character-count__message">
        You can enter up to 500 characters
      </div>
    </div>
    <button class="wc-submit-btn" data-module="govuk-button" data-wc-submit-btn>
      Request chat
    </button>
  </div>
</div>
{% elif model.view == 'TIMEOUT' %}
<div class="wc__body">
  <div class="wc-postchat">
    <h3 class="govuk-heading-m">Your session has timed out</h3>
    <p>You did not do anything for 20 minutes.</p>
    <div class="govuk-button-group">
      <button class="wc-submit-feedback-btn" data-module="govuk-button" data-wc-submit-feedback-btn>Give feedback</button>
      <a href="#" role="button" draggable="false" data-module="govuk-button" data-wc-close-btn>Cancel</button>
    </div>
  </div>
</div>
{% elif model.view == 'END' %}
<div class="wc__body">
  <div class="wc-postchat">
    <h3 class="govuk-heading-m">Are you sure you want to end the chat?</h3>
    <div class="govuk-button-group">
      <button class="wc-confirm-end-btn" data-module="govuk-button" data-wc-confirm-end-btn>End chat</button>
      <a href="#" role="button" draggable="false" data-module="govuk-button" data-wc-resume-btn>Resume chat</button>
    </div>
  </div>
</div>
{% elif model.view == 'FEEDBACK' %}
<div class="wc__body">
  <div class="wc-postchat">
    <h3 class="govuk-heading-m">Give feedback</h3>
    <p>Floodline webchat is in public beta</p>
    <div class="govuk-button-group">
      <button class="wc-feedback-btn" data-module="govuk-button" data-wc-feedback-btn>Submit</button>
      <a href="#" role="button" draggable="false" data-module="govuk-button" data-wc-close-btn>Cancel</button>
    </div>
  </div>
</div>
{% elif model.view == 'FINISH' %}
<div class="wc__body">
  <div class="wc-postchat">
    <h3 class="govuk-heading-m">Feedback submitted</h3>
    <p>Thank you for your feedback</p>
    <div class="govuk-button-group">
      <a href="#" role="button" draggable="false" data-module="govuk-button" data-wc-close-btn>Close window</button>
    </div>
  </div>
</div>
{% elif model.view == 'SETTINGS' %}
<div class="wc__body">
  <div class="wc-postchat">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h3 class="govuk-fieldset__heading">
            Settings
          </h3>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <!-- <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="enter" name="enter" type="checkbox" value="enter">
            <label class="govuk-label govuk-checkboxes__label" for="enter">
              Enter to submit
            </label>
          </div> -->
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="audio" name="audio" type="checkbox" value="audio">
            <label class="govuk-label govuk-checkboxes__label" for="audio">
              Audio notification
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="govuk-button-group">
      <button class="wc-save-settigns-btn" data-module="govuk-button" data-wc-save-settings-btn data-wc-save-settings>Save</button>
      <a href="#" role="button" draggable="false" data-module="govuk-button" data-wc-save-settings-btn>Cancel</button>
    </div>
  </div>
</div>
{% else %}
<div class="wc__body">
  <div class="wc-prechat">
  {% if model.availability == 'BUSY' %}
  <p>All our advisers are currently busy</p>
  {% elif model.availability == 'OFFLINE' %}
  <p>Web chat is currently offline</p>
  {% else %}
  <p>Checking adviser availability</p>
  {% endif %}
  </div>
</div>
{% endif %}