{% if (model.isStart and model.availability == 'AVAILABLE') or model.view == 'OPEN' or model.view == 'END' %}
<div class="wc-link" data-wc-link>
  <div class="wc-link__inner">
    <a href="#webchat" id="wc-open" role="button" draggable="false" class="wc-open-btn" data-wc-open-btn data-wc-focus-visible>
      {% if model.view == 'OPEN' or model.view == 'END' %}Show chat{% if model.unseen > 0 %}<span class="wc-open-btn__unseen">{{ model.unseen }}</span> <span class="govuk-visually-hidden">new message</span>{% endif %}{% else %}Start chat{% endif %}
    </a>
  </div>
</div>
{% elif model.isStart %}
{% if model.availability == 'OFFLINE' %}
<p class="govuk-body">When an adviser is available, a 'start chat' link will appear.</p>
{% else %}
<p class="govuk-body">Checking availability</p>
{% endif %}
{% endif %}