// Secondary start button
.defra-button-start {
    @extend .govuk-button;
    @extend .govuk-button--secondary;
    &:after {
        content: '';
        display: inline-block;
        position:relative;
        margin-left:5px;
        vertical-align: middle;
        top:-1px;
        width:13px;
        height:15px;
        background-image: svg-url('<svg width="13" height="15" viewBox="0 0 13 15" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M0.325,0l4.875,0l7.5,7.5l-7.5,7.5l-4.875,0l7.5,-7.5l-7.5,-7.5Z" style="fill-rule:nonzero;"/></svg>');
        background-color:transparent;
        background-size:13px 15px;
        background-repeat: no-repeat;
        background-position: top left;
    }
}

// Text button
.defra-button-text {
    @extend .govuk-body;
    margin:0px;
    color:$govuk-link-colour;
    background-color: transparent;
    border:0px;
    text-align:left;
    text-decoration: underline;
    padding:0;
    border-radius: 0;
    cursor:pointer;
    &:focus {
        outline:3px solid transparent;
        background-color: $govuk-focus-colour;
        color: $govuk-text-colour !important;
        box-shadow: 0 -2px #ffdd00, 0 4px currentColor;
        text-decoration: none;
    }
    &:active {
        color: $govuk-text-colour !important;
    }
    &:hover {
        color:$govuk-link-hover-colour;
    }
}

// Map button
.defra-button-map {
    position:relative;
    display:inline-block;
    color: govuk-color('black');
    span {
        display: inline-block;
        border-bottom:1px solid $govuk-text-colour;
    }
    &:focus span {
        border:0px;
    }
    &:hover span {
        border-color:$govuk-link-hover-colour;
    }
    &:active span {
        border-color: $govuk-text-colour;
    }
}
// .defra-button-map-s {
//     @extend .govuk-button;
//     @extend .govuk-button--secondary;
//     @include govuk-font($size: 16);
//     line-height: 20px;
//     padding: 6px 8px;
//     width: auto;
//     background-color: white;
//     border: 1px solid govuk-colour('black');
//     box-shadow: none;
//     svg {
//         float:left;
//         margin-right: 7px;
//     }
//     &:hover {
//         background-color: govuk-colour('mid-grey') !important;
//     }
//     &:active {
//         top: 0px;
//     }
// }

.defra-button-map-s {
    @extend .govuk-button;
    @extend .govuk-button--secondary;
    width: auto;
    margin-bottom: 20px;
    border: 2px solid govuk-colour('black');
    box-shadow: none;
    background-color: white;
    padding-bottom: 8px;
    // color: $govuk-text-colour;
    // font-weight: bold;
    // text-decoration: none;
    // padding-top: 2px;
    // padding-bottom: 2px;
    svg {
        float:left;
        margin-right: 5px;
        margin-top: -1px;
        @include mq ($from: tablet) {
            margin-right: 6px;
        }
    }
    // span {
    //     color: $govuk-link-colour;
    //     display: inline-block;
    //     line-height: inherit;
    // }
    // &:hover span {
    //     color: $govuk-link-hover-colour;
    // }
    // &:focus span {
    //     color: $govuk-text-colour;
    // }
}

// Download button
.defra-button-download {
    @extend .defra-button-text;
    position:relative;
    display:inline-block;
    padding-left:21px;
    color: govuk-color('black');
    &:before {
        content: "";
        position: absolute;
        top:0px;
        left:1px;
        background-image: svg-url('<svg width="13" height="17" viewBox="0 0 13 17"><rect x="0" y="0" width="10.5" height="14.5" style="fill:currentColor;"/><path d="M2,17L13,17L13,2L11.5,2L11.5,15.509L2,15.509L2,17Z" style="fill:currentColor;"/></svg>');
        background-color:transparent;
        background-size:13px 17px;
        background-repeat: no-repeat;
        background-position: top left;
        height:17px;
        width:13px;
        @include mq ($from: tablet) {
            top: 1px;
        }
    }
    &:hover:before {
        background-image: svg-url('<svg width="13" height="17" viewBox="0 0 13 17"><rect x="0" y="0" width="10.5" height="14.5" style="fill:#003078"/><path d="M2,17L13,17L13,2L11.5,2L11.5,15.509L2,15.509L2,17Z" style="fill:#003078"/></svg>');
    }
    &:focus:before,
    &:active:before {
        background-image: svg-url('<svg width="13" height="17" viewBox="0 0 13 17"><rect x="0" y="0" width="10.5" height="14.5" style="fill:currentColor;"/><path d="M2,17L13,17L13,2L11.5,2L11.5,15.509L2,15.509L2,17Z" style="fill:currentColor;"/></svg>');
    }
    &-s {
        @extend .defra-button-download;
        @include govuk-font($size: 16);
    }
    &-s:before {
        top:0px;
        @include mq ($from: tablet) {
            top: 1px;
        }
    }
}

// Search filter
.defra-button-filter {
    @extend .govuk-button;
    @extend .govuk-button--secondary;
    width: auto;
    margin-bottom: 20px;
    border: 2px solid govuk-colour('black');
    box-shadow: none;
    background-color: white;
    padding-bottom: 8px;
}
