mark {
  background-color: transparent;
  font-weight: bold;
  color: inherit;
}
.govuk-caption-s {
  @extend .govuk-caption-m;
  @include govuk-font($size: 16);
}
.govuk-caption-xs {
  @extend .govuk-caption-m;
  @include govuk-font($size: 14);
}